[2021-02-07 10:02] minchemo commented on #222
Error function calling by myself , fixed .

[2021-02-07 10:02] #222 closed

[2021-02-09 08:24] merbin2012 opened #223 "Not able to show admob ads"
While run the code after adding admob plugin, it show the following error.
Kindly help me.
[code]

![screenshot-github com-2021 02 09-13_51_15](https://user-images.githubusercontent.com/3687184/107335692-3df9d800-6ade-11eb-8bcd-12f6401781b6.png)

[2021-02-09 14:49] ratson commented on #223
@merbin2012 I cannot tell what goes wrong from just the error message, can you prepare a repo for me to check?

[2021-02-09 17:10] merbin2012 commented on #223
After one day research, I fixed it by adding the pod project into the my project. Should we do the same to all projects? I thought all the process will automatically update.

I don't know I did the right or not. But now the ads showing in my project.

[2021-02-09 18:20] thomasmso commented on #223
You should move over to [AppLovin MAX](https://github.com/AppLovin/AppLovin-MAX-Cordova) instead, you'll get better support there.

[2021-02-09 18:39] merbin2012 commented on #223
Span

[2021-02-09 18:39] merbin2012 commented on #223
Spam

[2021-02-10 14:47] ratson commented on #223
@merbin2012 If you install the plugin with cordova CLI, the project should setup automatically as the plugin has included the SDK pod as dependency.

[2021-02-10 15:57] ratson commented on #213
@realn3rd `admob-plus-cordova` is using the latest SDK, please give it a try.

[2021-02-10 17:02] merbin2012 commented on #223
Yes I am using cordova CLI only, also all the pod and its dependence added
automatically. But need to import the pod module manually, otherwise the
above error is shown.

On Wed, 10 Feb, 2021, 8:17 PM (◕ᴥ◕), <notifications@github.com> wrote:

[2021-02-11 15:48] ahunter135 opened #224 "Cannot find module '@admob-plus/ionic/ngx' or its corresponding type declarations."
### Is this a bug report?

Yes

### Environment

Cannot find module '@admob-plus/ionic/ngx' or its corresponding type declarations.

### Steps to Reproduce

(Write your steps here:)

1. Install the plugin as shown in the documentation
2. Try to import the file into ionic 5.4.16
3. See error

### Expected Behavior

The import would not throw an error

### Actual Behavior

Import throws an error. ng

[2021-02-13 07:32] manel00 commented on #96
Same to me @lucaele
[code]

[2021-02-13 08:26] manel00 opened #225 "The following build commands failed: CompileSwift normal x86_64 /Users/manel/Documents/ionic_projects/xstories/xstories/platforms/ios/XStories/Plugins/cordova-admob-plus/AMSRewardVideo.swift"
### Is this a bug report?

YES

### Environment

(paste the output of the command here)

### Steps to Reproduce

ionic cordova build ios

### Expected Behavior

Compile without errors

(Write what you thought would happen.)

### Actual Behavior

(Write what happened. Please add screenshots!)

[code]

### Reproducible Demo

(Paste the link to an example project and exact instructions to reproduce t

[2021-02-13 09:56] manel00 commented on #182
Hello, I am facing an issue with admob, anyone knows how to deal with it please? It is desperating...
[code]

[2021-02-17 21:25] Ricardo385 commented on #225
Do you solved it? I have the same issue...

[2021-02-17 21:44] manel00 commented on #225
Hola Ricardo!

Tienes que cambiar esta parte: didReceiveRegistrationToken

tiene que quedarte asi:

**didReceiveRegistrationToken:(NSString *)deviceToken**

;)

[2021-02-17 21:46] Ricardo385 commented on #225
Gracias Manuel, pero donde lo debo cambiar?

[2021-02-17 21:48] manel00 commented on #225
Donde te sale el error? (Visual studio code? XCode?...)

[2021-02-17 21:51] Ricardo385 commented on #225
Visual Studio, acompañado de
Plugins/cordova-admob-plus/AMSRewardVideo.swift:6:28: error: cannot find 'GADRewardedAd' in scope
        rewardBasedVideo = GADRewardedAd(adUnitID: adUnitID)

** BUILD FAILED **

The following build commands failed:
        CompileSwift normal x86_64 /Users/ricardomadrid/Documents/lnp-app/lnphn-app/platforms/ios/LNFP/Plugins/cordova-admob-plus/AMSBanner.swift

[2021-02-17 22:07] manel00 commented on #225
Me puedes dar mas info por favor? mi LinkedIn es Manuel Mariscal... hablame por ahi que intentare ayudar

[2021-02-17 23:32] Ricardo385 commented on #225
No te encontré en LinkedIn, pero gracias por tu ayuda, es para iOS, y si, ya tengo agregado eso en mi config.xml, estoy utilizando admob plus 0.42.0 iOS 6.2.2 y ionic 5

[2021-02-17 23:37] Ricardo385 commented on #225
My Ionic Info

Ionic:

   Ionic CLI                     : 6.11.0 (/usr/local/lib/node_modules/@ionic/cli)
   Ionic Framework               : @ionic/angular 5.0.5
   @angular-devkit/build-angular : 0.803.25
   @angular-devkit/schematics    : 8.3.25
   @angular/cli                  : 8.3.25
   @ionic/angular-toolkit        : 2.2.0

Cordova:

   Cordova CLI       : 8.1.1 (cordova-lib@8.1.0)
   Cordov

[2021-02-18 09:09] manel00 commented on #225
mandame un email, encontraras mi info en mi perfil de github ;)

[2021-02-18 14:51] ratson commented on #225
@manel00 @Ricardo385 Please try with `admob-plus-cordova`, `cordova-admob-plus` is discontinued.

[2021-02-18 14:52] ratson commented on #224
@ahunter135 Republished the package, please let me know if it works now.

[2021-02-18 14:54] ratson commented on #223
@merbin2012 I have no idea how the error is occurred, would you provide steps how is it happened?

[2021-02-18 15:31] Ricardo385 commented on #225
Thank you ratson, i will try with `cordova-admob-plus` and for npm i will be `npm i admob-plus-cordova` right?

[2021-02-18 16:31] ratson commented on #225
@Ricardo385 You may need to remove the plugin with `cordova plugin remove cordova-admob-plus`, please follow instructions in https://admob-plus.github.io/docs/ionic to install `admob-plus-cordova`.

[2021-02-18 16:45] Ricardo385 commented on #225
I followed the instructions but when i build for ios it's showing the same issue:

/Users/ricardomadrid/Documents/lnp-app/lnphn-app/platforms/ios/LNFP/Plugins/admob-plus-cordova/AMSRewarded.swift:2:21: error: cannot find type 'GADRewardedAd' in scope
    var rewardedAd: GADRewardedAd?
                    ^~~~~~~~~~~~~
/Users/ricardomadrid/Documents/lnp-app/lnphn-app/platforms/ios/LNFP/Plugins/admo

[2021-02-18 17:10] manzajaro opened #226 "Rewarded Ad no working in android"
Since the update to version 0.42.0 I can't get rewarded videos on android neither in develop nor in release mode.

Thanks

[2021-02-18 18:36] hisoka-sama opened #227 "plugin not working for IOS 14, cordova."
I'm trying to use this plugin for iOS 14. When I add the plugin I get these warnings:

`[!] The 'TestAPP [Debug]' target overrides the 'LD_RUNPATH_SEARCH_PATHS' build setting defined in 'Pods/Target Support Files/Pods-TestAPP/Pods-TestAPP.debug.xcconfig'. This can lead to problems with the CocoaPods installation`

`[!] The 'TestAPP[Release]' target overrides the 'LD_RUNPATH_SEARCH_PATHS' build set

[2021-02-19 16:09] ratson commented on #227
Please try out `admob-plus-cordova@1.0.0-alpha.9` see if it fixes the issues.

[2021-02-19 16:10] ratson commented on #226
Please try out `admob-plus-cordova@1.0.0-alpha.9` see if it fixes the issues.

[2021-02-19 16:15] ratson commented on #225
Could you try

Or prepare the repo to show the error?

[2021-02-21 15:50] victorvhpg commented on #202
any update?
https://developers.google.com/admob/android/app-open-ads
we need that support

[2021-02-22 12:44] krunalsk007 opened #228 "New Features Request Like App Open Ads"
i am using you admob free from 2-3 years in Ionic V3 in ADVANCE LEVEL after seen this plugin i want to use this plugin but your this project have still need proper doc for IONIC and some features.
****
1. App Open Ads (it's in beta now)  [https://developers.google.com/admob/android/app-open-ads](url)
2. interstitial Ad close event.
3. ads load failed event.
4. Rewarded Interstitial.

[2021-02-24 00:48] Ricardo385 commented on #225
Same error @ratson, tried all but no success results building for iOS.

[2021-02-24 21:43] EMI-INDO commented on #228
I'm also looking forward to it being added

[2021-02-25 19:57] EMI-INDO opened #229 "request Sponsor this project $5"
**Please add a sponsor for $ 5**

![Screenshot_14](https://user-images.githubusercontent.com/78555833/109209171-cc0fd700-77dd-11eb-8f32-11ef63de3bfb.png)

[2021-02-26 00:53] #229 closed

[2021-02-28 02:10] nfacha commented on #196
Also interested in this @ratson

[2021-02-28 16:05] nfacha commented on #226
Having the same issue on your proposed version @ratson

[2021-03-01 14:22] kosbar commented on #227
get error on 'plugin add' stage:

[code]

[2021-03-01 15:02] manzajaro commented on #226
+1   I have tested in alpha 10 and it does not work.

[2021-03-02 16:26] ratson commented on #227
@kosbar Did you run `pod repo update`?

[2021-03-02 17:19] gigafishapps opened #230 "!!! Latest AdMob including migration to SKAdNetwork [Crucial for all to continue displaying ads] !!!"
Google announced it will discontinue IDFA on all iOS devices using AdMob to take full advantage of Apple's SKAdNetwrok, so iOS apps won't need to display popups.

The problem is they announced they are discontinuing IDFA with AdMob on all iOS devices, so if there will be no update, probably no ads will show.

My question is, will the latest version of the AdMob plugin be implemented so we can cont

[2021-03-02 17:25] ratson commented on #230
@gigafishapps It has been added for the latest version.
https://github.com/admob-plus/admob-plus/blob/master/packages/cordova/plugin.xml#L86

Are you having any issue with it?

[2021-03-02 17:28] ratson commented on #225
@Ricardo385 The latest release updated to use SDK v8.1.0, see if it fixes your problem.

[2021-03-02 17:50] EMI-INDO opened #232 "double banner ad"
load benner ad display banner, when i reload benner ad display banner, it happens double?

![Screenshot_2021-03-03-00-30-20-600](https://user-images.githubusercontent.com/78555833/109691067-a148c880-7bb9-11eb-80ab-e74b32f75946.jpg)

[2021-03-02 17:57] ratson commented on #232
@EMI-INDO Android? How do you reload the banner?

[2021-03-02 17:59] ratson commented on #207
Close as it is fixed in latest release.

[2021-03-02 17:59] #207 closed

[2021-03-02 18:01] ratson commented on #214
Close as it is fixed in latest release.

[2021-03-02 18:03] ratson commented on #213
Close as it is fixed in latest release.

[2021-03-02 18:03] #213 closed

[2021-03-02 18:04] ratson commented on #224
Close as it is fixed in latest release.

[2021-03-02 18:04] #224 closed

[2021-03-02 18:04] gigafishapps commented on #230
Thanks for your reply, I am now testing it. Where can I purchase the pro plugin, or tip you? (You should be selling it for at least 20-30 dollars) will let you know if any other questions. Thank you so much.

[2021-03-02 18:11] EMI-INDO commented on #232
**this is my code**

async Bannerload()
{
  await admob.start()
  const banner = new admob.BannerAd({
                adUnitId: 'ca-app-pub-3940256099942544/6300978111',
                position: 'top',
  })
  await banner.load()
}

////////////////////////////////

async BannerShow()
{
  await admob.start()
  const banner = new admob.BannerAd({
                adUnitId: 'ca-app-pub-39402560999425

[2021-03-02 18:16] ratson commented on #230
Everything is open sourced and you can use it for free.
If you are interested in sponsor my work, please check out https://admob-plus.github.io/funding/

[2021-03-02 18:20] ratson commented on #232
@EMI-INDO I have just corrected a mistake in the docs, where there is no `banner.load()` method and you should get an error for doing so. Is that causing your problem?

[2021-03-02 18:43] EMI-INDO commented on #232
@ratson I tried it without loading, still getting the same error
maybe this is an error in my own code, and I can't banner.hide () either

Thank you for your answers

[2021-03-03 21:24] Ricardo385 commented on #225
Thank you @ratson it worked! But now, i only see a black display instead a real banner, i'm using the plugin with the following code:
async showBanner() {
    await this.admob.start();

    const banner = new this.admob.BannerAd({
      adUnitId: 'myiOSbannerId',
    });
    await banner.show();
  }

[2021-03-04 17:52] caiotiengo opened #233 "Error IOS build: CompileSwift normal x86_64 ios/projectname/Plugins/admob-plus-cordova/AMBPlugin.swift"
Please, I need help with this.
I've been stucked many days with admob-free problems and now I'm facing this error in admob-plus.

** BUILD FAILED **

The following build commands failed:
	CompileSwift normal x86_64 /Users/macbook/Desktop/CaioDEV/project/platforms/ios/project/Plugins/admob-plus-cordova/AMBPlugin.swift
	CompileSwiftSources normal x86_64 com.apple.xcode.tools.swift.compiler
(2 failur

[2021-03-04 20:34] Ricardo385 commented on #233
Hi @caiotiengo I had the same issue few weeks ago and I resolved it by update my Cordova Cli to latest (10.0.0), make sure you have the latest version by typing in your terminal `cordova -v` and if not uninstall cordova and install it again, then make sure you are using the latest version of Admob Plus that is admob-plus-cordova@1.0.0-alpha.11. If you're compiling for iOS you need to add to your c

[2021-03-04 21:27] caiotiengo commented on #233
Everything normal, same things that you mentioned... but still gives me the same error!

warning: Could not read serialized diagnostics file: Invalid File: Invalid diagnostics signature (in target 'Macumbeijo' from project 'Macumbeijo')
warning: Could not read serialized diagnostics file: Invalid File: Invalid diagnostics signature (in target 'Macumbeijo' from project 'Macumbeijo')
** BUILD FAILED

[2021-03-04 21:41] Ricardo385 commented on #233
Could you provide what's your ionic info says? Do you have up to date or installed Cocoapods?

[2021-03-05 03:56] caiotiengo commented on #233
I have it all up to date!

Ionic:

   Ionic CLI                     : 6.13.1 (/usr/local/lib/node_modules/@ionic/cli)
   Ionic Framework               : @ionic/angular 5.5.2
   @angular-devkit/build-angular : 0.1000.8
   @angular-devkit/schematics    : 10.0.8
   @angular/cli                  : 10.0.8
   @ionic/angular-toolkit        : 2.3.3

Cordova:

   Cordova CLI       : 10.0.0
   Cordova Platf

[2021-03-05 17:56] #232 closed

[2021-03-05 18:34] EMI-INDO opened #234 "Rewarded Interstitial does not work (Basic Example) @admob-plus-cordova@1.0.0-alpha.11"
`cordova plugin add admob-plus-cordova@1.0.0-alpha.11 --variable APP_ID_ANDROID=ca-app-pub-3940256099942544~3347511713`

### and I also tried
`cordova plugin add admob-plus-cordova --variable APP_ID_ANDROID=ca-app-pub-3940256099942544~3347511713 --variable PLAY_SERVICES_VERSION=19.7.0`

### detail

`CORDOVA CLI: 10.0.0`
`CORDOVA ANDROID : 9.0.0`

I'm trying `Basic Example`

### screenshot
/
/

![S

[2021-03-05 19:06] EMI-INDO commented on #234
### initially failed to add plugins

[code]

### error CLI

[code]

### and I deleted the error section in config.xml = `spec="../../packages/cordova"`

### build success

[code]

[2021-03-06 00:55] ratson commented on #234
@EMI-INDO Rewarded Interstitial Ad is in development, I will finish some final touches these two days before publishing a new release.
I will check why the example is failing.
Did you do a git clone to run the example?

[2021-03-06 01:23] SeVeNDuS opened #235 "Consent: getFormAvailable is not a function"
### Is this a bug report?

I am getting this error trying to show the consent

Unhandled Promise Rejection: TypeError: consent.getFormAvailable is not a function. (In 'consent.getFormAvailable()', 'consent.getFormAvailable' is undefined)
(función anónima) — app.html:422
asyncFunctionResume
(función anónima)
promiseReactionJobWithoutPromise
promiseReactionJob
callbackFromNative — cordova.js:297

I

[2021-03-06 06:05] ratson commented on #228
@krunalsk007 @EMI-INDO I am actively working on 2-4.
For Open Ads, I plan to explorer it after v1.0.0 is finalized.
Stay tuned.

[2021-03-06 06:23] emi415064 commented on #234
### I will try later.

sorry I don't have much money for monthly support,
But I will send a cup of coffee 1 to 2 times every month.

thank you. @ratson

[2021-03-06 08:38] paulovargatt opened #236 "Bug in build android"
After installing this plugin following the doc: https://admob-plus.github.io/docs/cordova

it was not possible to build my app!

    "cordova-android": "^9.0.0",
    "admob-plus-cordova": "^1.0.0-alpha.11",

![Qa3oNVP](https://user-images.githubusercontent.com/28814403/110200560-57701480-7e3d-11eb-9d63-b4dbfd993ff4.png)

[code]

[2021-03-06 18:47] maihannijat opened #237 "iOS Error: <Google> Invalid Request. Invalid ad width or height: (320, 0)"
### Is this a bug report?

Yes

### Environment

  AdMob Plus Environment Info:
    System:
      OS: macOS 10.15.7
      CPU: (4) x64 Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
      Memory: 523.30 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 14.15.3 - ~/.nvm/versions/node/v14.15.3/bin/node
      npm: 6.14.9 - ~/.nvm/versions/node/v14.15.3/bin/npm
    SDKs:
      iOS SDK:

[2021-03-06 19:40] gigafishapps commented on #230
Just a question. Do I need to enable SKAdNetwork manually or it is automatically enabled for iOS? Google suggests adding special key to Info.plist

[2021-03-06 22:25] gigafishapps opened #238 "GoogleMobileAds/GoogleMobileAds.h file not found"
This occurs on a clean installation, empty Cordova project with test ads when launching in XCode to create an archive for App Store.

AMBPlugin-Bridging-Header.h

#import <Cordova/CDV.h>
#import <GoogleMobileAds/GoogleMobileAds.h>

'GoogleMobileAds/GoogleMobileAds.h' file not found

Followed by:

1 error generated.
<unknown>:0: error: failed to emit precompiled header '/Users/c/Library/Developer/X

[2021-03-06 22:52] gigafishapps commented on #238
I would like to at least start the plugin. I would be happy to see how it works, but the documentation is lacking. I am very much confused. Followed all the basic steps.

[2021-03-06 22:53] gigafishapps commented on #223
Same issue here. This plugin is broken.

[2021-03-07 07:11] ratson commented on #235
@SeVeNDuS It should be `getFormStatus()`, fixed the doc.
Thank you for reporting.

[2021-03-07 07:11] #235 closed

[2021-03-07 07:44] SeVeNDuS commented on #196
This is pretty useful @ratson
Are this planned for v1?
Thanks

[2021-03-07 14:00] nfacha commented on #196
This also applies for rewarded interstitials

[2021-03-07 15:59] #234 closed

[2021-03-08 14:52] ratson commented on #238
@gigafishapps Did you run `pod repo update`?
What steps are you using the created project?
Please post the result of `npx admob-plus@latest info` for me to know what environment you are running.

[2021-03-08 14:57] ratson commented on #230
@gigafishapps Please refer the answer in https://admob-plus.github.io/docs/cordova/faq/#do-i-need-to-enable-skadnetwork-manually

[2021-03-08 15:27] EMI-INDO opened #239 "hide banner is not working"
**all ads are displayed successfully**

![Screensho](https://user-images.githubusercontent.com/78555833/110544942-0b83df00-815f-11eb-9b5b-9ae872ad8e94.jpg)

`cordova plugin add admob-plus-cordova@1.0.0-alpha.12 --variable APP_ID_ANDROID=ca-app-pub-3940256099942544~3347511713 --variable PLAY_SERVICES_VERSION=19.7.0`

**detail**
`CORDOVA CLI: 10.0.0`
`CORDOVA ANDROID : 9.0.0`

maybe this is my code

[2021-03-08 15:30] gigafishapps commented on #238
Thanks for your reply. I will document the steps and post them here in a few hours. Let's try to get it right so everyone can benefit. If we can solve this I am happy to volunteer to create a simple step-by-step guide as a supplement for all the users.

Kind regards
David

[2021-03-08 17:17] gigafishapps commented on #238
This is what I did:
(I am working on a Mac)

1. Installed fresh cordova project called test01 -> tested working by itself all good.
2. Installed your latest plugin via cordova with the following command:

[code]

It reported the following errors when adding to a clean project by itself:

[code]

3. I added the target and swift version to config.xml
4. I ran **cordova platform remove ios** and then

[2021-03-09 13:42] caiotiengo commented on #233
@ratson do you guys know any answer for this?

[2021-03-09 17:22] ratson commented on #196
@dodocodes @bardgr @nfacha @SeVeNDuS
I have just released `admob-plus-cordova@1.0.0-alpha.13` to support this.
Please refer to https://admob-plus.github.io/docs/cordova/rewarded-ads-ssv/

[2021-03-09 17:22] #196 closed

[2021-03-09 17:26] ratson commented on #233
@caiotiengo I suspect that because you are using npm@7, which you may need to use cordova@nightly.
If that is not the case, would you prepare a repo for me to check?

[2021-03-09 17:40] ratson commented on #238
@gigafishapps Thank you for stepping up to write a beginner guide, it is always welcome to improve the documentation.

I don't see you mention `GoogleMobileAds/GoogleMobileAds.h file not found` in your latest comment, is that fixed?

Would you re-run your test with the latest version?
`RewardedInterstitialAd` was introduced after `v1.0.0-alpha.10`.

[2021-03-09 18:15] gigafishapps commented on #238
Thank you for your reply.

I will retry all the steps with cordova plugin add admob-plus-cordova --variable APP_ID_IOS=ca-app-pub-xxx~xxx

And send yo the documented process here.

I did not try to archive in XCode yet as the initial setup is not working.

Please correct me if I should use any other initialization instructions, I will follow the steps exactly as per https://admob-plus.github.io/do

[2021-03-09 20:11] nfacha commented on #196
@ratson After updating production ads stopped showing (test ads show)
I get this on logcat, unsure if related:

[code]

[2021-03-10 10:30] martijnmichel opened #241 "Disable tracking by default"
I have just started this plugin and decided I do not want to track people in my app and when updating it in the App Store it got rejected with the message that I should ask for permission or not use it.

Apple Reply:
**Next Steps**

_If your app integrates AppTrackingTransparency, please indicate where in your app we can find the AppTrackingTransparency permission request._

_If your app does not

[2021-03-10 11:14] ratson commented on #241
@martijnmichel You can use the following code for AppTrackingTransparency integration,
[code]

[2021-03-10 11:15] martijnmichel commented on #241
@ratson Thanks for replying, but doesn't that make the modal appear? I want to disable tracking without user interaction.

[2021-03-10 11:24] ratson commented on #241
@martijnmichel https://developers.google.com/admob/ios/data-disclosure listed the data need to be collected for AdMob.
I don't see the SDK provide a way to disable tracking, did I miss something?

[2021-03-10 11:30] ratson commented on #221
Please check https://admob-plus.github.io/docs/cordova/faq#what-does-istrusted-false-event-message-means for explanation.

[2021-03-10 11:30] #221 closed

[2021-03-10 11:32] ratson commented on #1
Feature is implemented in latest release.

[2021-03-10 11:32] #1 closed

[2021-03-10 11:35] ratson commented on #22
Latest release supports interstitial ads and interstitial videos, ionic 4

[2021-03-10 11:35] #22 closed

[2021-03-10 11:51] #195 closed

[2021-03-10 11:52] ratson commented on #201
See https://admob-plus.github.io/docs/cordova/faq#why-are-ads-not-showing

[2021-03-10 11:52] #201 closed

[2021-03-10 11:54] ratson commented on #166
See https://admob-plus.github.io/docs/cordova/faq#how-to-fix-sendsubviewtoback-has-been-renamed-to-sendsubviewtoback-error

[2021-03-10 11:54] #166 closed

[2021-03-10 12:34] martijnmichel commented on #241
Probably you didn't miss anything. I just don't understand. So what does apple mean with the following?

**If your app does not integrate AppTrackingTransparency**, please indicate this information in the Review Notes section for each version of your app in App Store Connect when submitting for review.

[2021-03-10 13:12] merbin2012 opened #242 "Interstitial closed event not fired in 1.0.0-alpha.13"
**Interstitial close** event not fired in 1.0.0-alpha.13, but it is worked perfectly in 1.0.0-alpha.10, kindly find and fix the issue.

I checked with 1.0.0-alpha.11 & 1.0.0-alpha.12, these are also not working.

[2021-03-10 15:45] rahmadid commented on #241
Hi, if i understand it correctly, it means:

If you integrate ATT into your code (swift/obj-c part), then you must show the ATT permission request to the user.
If you don't show (or don't want to show) the ATT permission request, then you must delete ATT integration from your code (swift/obj-c part).

That makes sense, because ATT is optional. Even admob help site states that:
Decide whether Apple

[2021-03-10 15:59] manzajaro commented on #226
@ratson I have tested in alpha 13 and it does not work.

[2021-03-10 16:54] manzajaro commented on #226
@ratson

Hello, I have managed to find out where the error is.

https://github.com/admob-plus/admob-plus/blob/1df062ba2c372ad9e19e6ee9120f1d89a6d58435/packages/cordova/src/android/ExecuteContext.java#L98

https://github.com/admob-plus/admob-plus/blob/1df062ba2c372ad9e19e6ee9120f1d89a6d58435/packages/cordova/src/android/ExecuteContext.java#L102

This function cannot return null to setServerSideVeri

[2021-03-11 17:21] SeVeNDuS opened #243 "How to pass consent "personalized" ads to admob"
### Is this a bug report?

This is a request of help, so no, is not a bug

Can you help me with an example to show the consent for "Personalized ads" and how to pass that variable to the banner?

Thanks

[2021-03-11 23:02] FischerTech commented on #233
@caiotiengo did you find a fix to your problem? I'm having the same issue with xcode 12.4 on both my 2012 mac and new M1 mac books. Thanks.

[2021-03-12 03:05] caiotiengo commented on #233
Tried @ratson solution but didn't worked, did you find any solution @FischerTech ?

[2021-03-12 08:44] 1n3JgKl9pQ6cUMrW commented on #242
_Event listeners are changed in almost every release._

**Version @1.0.0-alpha.10 has those active;**

`admob.interstitial.click`
`admob.interstitial.close`
`admob.interstitial.impression`
`admob.interstitial.load`
`admob.interstitial.open`

**Version @1.0.0-alpha.13 deleted some and introduced some;**

`admob.interstitial.dismiss`
`admob.interstitial.load`
`admob.interstitial.show`
`admob.interst

[2021-03-12 08:44] 1n3JgKl9pQ6cUMrW commented on #242
In case you are wondering what my `app__ad_event` fuction does;

_It show's basic debug-info on the canvas with some variables ( json meta-data, the caller #ID and the event #ID )._

See the screenshot - `#INT` = interstitial and `#AD` = banner.

The newest version of the plugin shows more meta-data (like the #adID), but I don't need that and it not very stable with most of the ad-listeners.

**Th

[2021-03-12 13:41] merbin2012 commented on #242
Thank you very much, but if he is changing the event name frequently, it is very difficult to manage our new apps and apps update (I mean we need to always update the ads code)

[2021-03-12 14:41] 1n3JgKl9pQ6cUMrW commented on #242
I am not the author of the plugin, but we should be aware it's still in bèta... or alpha even.

**So it's "normal" to make breaking changes in the code, while it's in bèta.**

The updates are quite often now and they're not always useful at this moment.

So you **don't have to update** from version `1.0@alpha.10` to `1.0@alpha.14`.

Just stick with a version that's stable enough for your purpose a

[2021-03-12 16:13] FischerTech commented on #233
@caiotiengo Just took another shot at it this morning, and got it working. I first would suggest updating to the lastest version of xcode, but what worked for me was removing the ios platform after adding admob-plus-cordova and admob-plus/ionic. Then add the platform back, admob-plus-cordova plugin will run pod install for you. DO NOT run `pod repo update` or `cd platforms/ios && pod install --rep

[2021-03-12 17:10] Pilonetto commented on #224
I tested it today with the ionic-angular example and got the same error.

[2021-03-13 20:57] 1n3JgKl9pQ6cUMrW commented on #209
It's not direct related to this plug-in.

But when you use this plug-in to show AdMob ads, you can better do what the console says;

---

`app-ads.txt` is kind of a certification file for all your mobile ads.

https://support.google.com/admob/answer/9363762?hl=en

`ads.txt` is somehow for protecting your default website ads.

https://support.google.com/adsense/answer/7532444?hl=en

---

So just re

[2021-03-13 21:06] 1n3JgKl9pQ6cUMrW commented on #198
**Just re-initialize the instance again after closing the first one.**

Once the first ad is closed, you have to load a new one (set it up in the queue) and then it can be shown again.

Same instance, different ad - it works perfectly (once you have a good rate-fill, which depends on the quality of your app).

[2021-03-14 17:07] ratson commented on #239
@EMI-INDO Would you try the latest release?
`await banner.show()` is resolved as soon as the load request is sent, but not waiting the banner being loaded.

I have updated the example code to be a functional one,
https://admob-plus.github.io/docs/cordova/ads/banner

[2021-03-14 21:56] EMI-INDO commented on #239
@ratson

**Thank you for replying **

### Nothing worked

`remove the platform`
`remove plugins`
`add it back`

### and try them all one by one
admob-plus-cordova@1.0.0-beta.1
admob-plus-cordova@1.0.0-beta.0
admob-plus-cordova@1.0.0-alpha.15

`cordova plugin add admob-plus-cordova@1.0.0-beta.1 --variable APP_ID_ANDROID=ca-app-pub-3940256099942544~3347511713`

### my code

`document.addEventListene

[2021-03-15 12:50] ratson commented on #239
@EMI-INDO I have made a mistake in the example code, `const banner` should be pull up to `let banner` for the event handler. I have updated the docs to reflect this.

Why are there 2 banners shown? Is that you have created `admob.BannerAd` somewhere?
Note that you have to using the same banner instance to hide the ad.

[2021-03-15 20:17] EMI-INDO commented on #239
### works perfectly.
[https://admob-plus.github.io/docs/cordova/](url)

### 2 banners because I tested it with basic example of cordova
[https://github.com/admob-plus/admob-plus/blob/master/examples/cordova/www/js/index.js](url)
`Promise.all([
          this.showBannerAd(),
          this.showBannerAdTop(),
          this.showInterstitialAd(),
          this.showRewardedAd(),
          this.showRe

[2021-03-16 14:11] #239 closed

[2021-03-16 19:33] EMI-INDO opened #245 "Request Event Video Cancelled [ admob.rewarded.cancelled ]"
### Hi, friend

Can this be added?

`document.addEventListener('admob.rewarded.cancelled', async () => {
                //   Triggers when a video advert has been cancelled.
            });`

### thank you

[2021-03-16 22:34] lsantaniello commented on #224
I have the same issue

@ionic-native/admob-plus version": "5.31.1"

Did you solde it?

[2021-03-17 12:58] felipe-ff opened #246 "Is the beta version compatible with cordova-admob-plus?"
I get this error when I upgrade to the beta:

"Cannot find module 'admob-plus-cordova' or its corresponding type declarations" at index.d.ts in this line:

import { AdMob as IAdMob, BannerAd as IBannerAd, BannerAdOptions, InterstitialAd as IInterstitialAd, NativeActions, RewardedAd as IRewardedAd, RewardedAdOptions, RewardedInterstitialAd as IRewardedInterstitialAd, RewardedInterstitialAdOptions,

[2021-03-17 15:17] ratson commented on #245
@EMI-INDO Probably not going to add that as the official SDK does not provide such callback directly.
However, you should be able to simulate that by listen to the dismiss and reward events.

[2021-03-17 15:23] EMI-INDO commented on #245
### well i will try it.

**Thank you friend**

[2021-03-17 15:53] 1n3JgKl9pQ6cUMrW commented on #246
*The namespace for the `alpha` version of this plug-in is different from the `beta` (and `final`) version.*

It's done to keep the `branches` separate from each other and prevent updating the wrong version.

## CORDOVA CLI

So if you want the `alpha` version, you can use this command;

`cordova plugin add cordova-admob-plus@0.37.0 --variable APP_ID_ANDROID="ca-app-pub-123~456"`

And for the `beta`

[2021-03-17 17:37] #245 closed

[2021-03-17 21:04] Sirioxstar opened #248 "build problem"
Hi All,
i have this problem when build:

AndroidManifest.xml:23: error: unexpected element \<queries\> found in \<manifest\>.

Failed to execute aapt
com.android.ide.common.process.ProcessException: Failed to execute aapt

Can you help me?

ionic info:

Ionic:

   Ionic CLI                     : 6.13.1 (C:\Users\disk\AppData\Roaming\npm\node_modules\@ionic\cli)
   Ionic Framework               : @

[2021-03-18 02:55] maihannijat commented on #237
2021-03-17 22:08:22.676493-0400 App[37935:2164985] [LayoutConstraints] Unable to simultaneously satisfy constraints.
	Probably at least one of the constraints in the following list is one you don't want.
	Try this:
		(1) look at each constraint and try to figure out which you don't expect;
		(2) find the code that added the unwanted constraint or constraints and fix it.
(
    "<NSLayoutConstraint:

[2021-03-18 08:33] aenima86 opened #249 "Build error (pod: Command failed with exit code 1)"
Hi all

I cant build my project when the plugin is included.

I get this error:

[16:56:16] Failed to install 'cordova-admob-plus': Error: pod: Command failed with exit code 1
[16:56:16]     at ChildProcess.whenDone (/private/tmp/download/node_modules/cordova-common/src/superspawn.js:136:25)
[16:56:16]     at ChildProcess.emit (events.js:315:20)
[16:56:16]     at maybeClose (internal/child_process

[2021-03-18 11:21] ratson commented on #249
@aenima86 What is your output of `pod spec cat Google-Mobile-Ads-SDK`?

[2021-03-18 12:26] piernik opened #250 "Google play services conflict"
I'm trying clean ionic install with `google-maps` and `admob-plus` plugins and I cannot compile.

If I install google maps or admob plus without each other everything is working, but when I install them both I got compilation error:
[code]

I bet it is conflict with google play services, but I have `<preference name="AndroidXEnabled" value="true" />` enabled as in Your docs (also tried with disabl

[2021-03-18 13:41] 1n3JgKl9pQ6cUMrW commented on #248
`error: unexpected element <queries> found in <manifest>` can be thrown by everything - it's not specifically linked to this plug-in (it could be, but it's not clear with the information you provided).

Just check out this common error : https://stackoverflow.com/questions/62969917/

`Cordova CLI : 8.1.2 (cordova-lib@8.1.1)
Cordova Platforms : android 7.1.4`

Also, the CLI is rather old (version 1

[2021-03-18 13:45] 1n3JgKl9pQ6cUMrW commented on #249
`[16:56:16] Failed to install 'cordova-admob-plus': Error: pod: Command failed with exit code 1`

You are querying the `alpha` of this plug-in with `cordova-admob-plus` .

Try to switch to the `beta` version, using `admob-plus-cordova`.

[2021-03-18 17:15] jonatarussi opened #251 "Banner wrong position after use camera"
Hi guys.
I am having a problem with this plugin. When I show the banner the first time, the banner appears in correct position (bottom), but when I open the camera using the plugin `cordova-plugin-camera-preview` and then close the camera, the ad shows up in the top.

[2021-03-19 02:01] maihannijat commented on #251
I confirm this bug. It happens on iOS 14. For me, it happens from start (first page) without using the camera or any other plugin. and without any interaction.

[2021-03-19 14:55] ratson commented on #251
@jonatarussi @maihannijat Would you prepare a repo for me to check?

[2021-03-19 14:56] ratson commented on #250
@piernik Would you prepare a repo for me to check?

[2021-03-20 12:27] lsantaniello opened #252 "duplicated with element declared at AndroidManifest.xml"
I integrated admob-plus plugin into my ionic5 app but I have issue at building time.

After build, AndroidManifest.xml has been updated. APPLICATION_ID has been added. It's perfect but the value is not correct. It'a a hardcoded value

[code]

I inserted real id into package.json as reported by official docs.

[code]

I tried to change manually the is into my AndroidManifest.xml file and rebuilt th

[2021-03-20 12:58] ratson commented on #252
@lsantaniello Did you try delete `platforms`, `plugins` then rebuild the project after changed id?
You may also try update your Cordova CLI to v10 to see if it fixes it.

[2021-03-20 14:00] #230 closed

[2021-03-20 14:34] lsantaniello commented on #252
Thanks for reply. What is the best practice to upgrade cordova release?

[2021-03-20 15:36] lsantaniello commented on #252
Removed android platform and plugins folder. Rebuild completed successfully

But my ad now show.

Load Fail event has been triggered

I tried to use my App Id and goole test banner id (androidandroid)

I inserted my test device id on admob platform.

I'm very confused.

In the log:
`{
	"isTrusted": false,
	"cause": null,
	"code": 3,
	"adId": 1,
	"message": "Publisher data not found. <https://suppo

[2021-03-20 17:04] ratson commented on #252
@lsantaniello Did you try adding your device via code and use your own ad unit id?
[code]
https://admob-plus.github.io/docs/cordova/test-ads

[2021-03-20 17:22] ratson commented on #223
Close as not enough way to reproduce.

[2021-03-20 17:22] #223 closed

[2021-03-20 17:23] ratson commented on #220
@AlvinStefanus See https://admob-plus.github.io/docs/cordova/faq#what-does-istrusted-false-event-message-means

[2021-03-20 17:28] ratson commented on #225
@Ricardo385 Do you still getting black screen from the latest release?
I use the same code for testing without problem.
If the problem persist, would create a repo for me to look into?

[2021-03-20 17:30] ratson commented on #237
@maihannijat Is it still occurred for the latest release?
If the problem persist, would you create a repo for me to look into?

[2021-03-20 17:34] ratson commented on #226
@manzajaro Thank you for finding out the cause. It has been fixed in the latest release.

[2021-03-20 17:34] #226 closed

[2021-03-20 17:35] ratson commented on #228
2-4 has been implemented in the latest release.
I will track https://github.com/admob-plus/admob-plus/issues/202 for 1.

[2021-03-20 17:35] #228 closed

[2021-03-20 17:36] Ricardo385 commented on #225
Hi @ratson, thanks for your answer, the black screen disappeared until Google Admob allowed me to find my application in the App Store to connect with my account, I waited like 2 or 3 hours for the ads to start appearing in my application but the Request impressions haven't generated revenue on iOS when viewing video rewards and clicking ads, but on Android I'm already generating revenue.

[2021-03-20 17:36] #215 closed

[2021-03-20 17:41] ratson commented on #225
@Ricardo385 Nice, the latest release emits event with reward, which you may find useful.
https://admob-plus.github.io/docs/cordova/ads/rewarded#admobrewardedreward

[2021-03-20 17:41] #225 closed

[2021-03-20 17:43] ratson commented on #102
Close as documented in https://admob-plus.github.io/docs/cordova/consent

[2021-03-20 17:43] #102 closed

[2021-03-20 17:45] ratson commented on #48
https://admob-plus.github.io/docs/cordova/ads/banner#display-position

[2021-03-20 17:45] #48 closed

[2021-03-20 17:54] #183 closed

[2021-03-20 17:55] #188 closed

[2021-03-20 17:56] ratson commented on #3
Close as implemented in latest version.

[2021-03-20 17:56] #3 closed

[2021-03-20 17:58] ratson commented on #31
Doable with latest API.

[2021-03-20 17:58] #31 closed

[2021-03-20 17:59] ratson commented on #55
Duplicate to https://github.com/admob-plus/admob-plus/issues/54

[2021-03-20 17:59] #55 closed

[2021-03-20 18:00] ratson commented on #190
Duplicate to https://github.com/admob-plus/admob-plus/issues/54

[2021-03-20 18:00] #190 closed

[2021-03-20 18:01] ratson commented on #2
Duplicate to https://github.com/admob-plus/admob-plus/issues/3

[2021-03-20 18:01] #2 closed

[2021-03-20 18:03] ratson commented on #236
@paulovargatt Is this still the case for the latest release?

[2021-03-20 18:06] maihannijat commented on #237
@ratson resolved. It was happening on a simulator only - not on a real device.

[2021-03-20 18:06] #237 closed

[2021-03-20 18:12] ratson commented on #242
@merbin2012 Please refer to the documentation for the events, they should be stable now.

[2021-03-20 18:12] #242 closed

[2021-03-20 18:16] ratson commented on #198
Documentation has been updated to show how to load ads after display.

[2021-03-20 18:16] #198 closed

[2021-03-20 18:26] maihannijat opened #254 "Crash on iOS while init banner"
### Is this a bug report?

Yes

### Error
libc++abi.dylib: terminating with uncaught exception of type NSException
*** Terminating app due to uncaught exception 'CALayerInvalid', reason: 'layer <CALayer: 0x2832217c0> is a part of cycle in its layer tree'
terminating with uncaught exception of type NSException

Thread 1: "layer <CALayer: 0x2832217c0> is a part of cycle in its layer tree"
Thread 1:

[2021-03-20 18:50] lsantaniello commented on #252
yes, alredy add my deviceId programmatically

[2021-03-20 19:49] lsantaniello commented on #252
Found into logcat, sorry.

`Use RequestConfiguration.Builder().setTestDeviceIds(Arrays.asList("3338DEE2C06**********D71E5BE5D82")) to get test ads on this device.`

Setted into my app but the issue is not solved.

:(

[2021-03-20 20:22] 1n3JgKl9pQ6cUMrW commented on #252
Real banners never work when the app is not released.

It needs to be `signed` and you can't sign an app while developing it.

That's why you should always develop with `test units`.

Once the app is ready for release, change the ID's to the real ones and release the app.

Or create a special `bèta-branche` for your app, so you can test it (once signed) in a semi-live production workflow.

*BTW -

[2021-03-20 20:27] 1n3JgKl9pQ6cUMrW commented on #252
Also see your own logs;

1. `NETWORK 400`
2. `Publisher data not found.`

The first one indicates a bad request (from your site) to the AdMob server.

The second one implies there's something wrong with your account.

So that makes sense to your findings : test-ads works, but real-ads not.

[2021-03-20 21:14] lsantaniello commented on #252
App has been released.

It is not a spam. hxxxs://play.google.com/store/apps/details?id=it.mgdlab.napadel

I checked my account. It seems correct.

Some advice? in addition to creating unity, do I have to do anything else?

Thanks

[2021-03-21 03:21] ratson commented on #254
@maihannijat Would you try 1.0.0-rc.1 to see if it fixes your problem?
I cannot reproduce your exception, it would be great if you could setup a repo for me to test.

[2021-03-21 03:24] #246 closed

[2021-03-21 04:25] ratson commented on #217
Outdated issue, see https://admob-plus.github.io/docs/cordova/consent for latest API.

[2021-03-21 04:25] #217 closed

[2021-03-21 09:48] Calsy opened #255 "'No ad config.' Presenting live ads in Android"
Hi,

Might be missing something obvious.  Test ads work fine on Android build, but when I attempt to run live ads I get the following message in console

[code]

What config setting am I missing?

[2021-03-21 09:59] ratson commented on #255
@Calsy Is you app published to app store?

[2021-03-21 11:27] #220 closed

[2021-03-21 11:47] Calsy commented on #255
@ratson Thanks for reply.  Yes app is published on Google Play. Previously using admob-free without issue but moving over to admob-plus.  Everything seems fine, the app builds on android without issue and I can display test Interstitial ads.  It's when I try live ads that I get the issue.  The message 'No ad config.' obviously gives the impression I'm missing some setting.

I add the plugin using

[2021-03-21 11:52] ratson commented on #209
Added to FAQ
https://admob-plus.github.io/docs/cordova/faq#how-to-handle-add-or-update-app-adstxt-in-admob-console

[2021-03-21 11:52] #209 closed

[2021-03-21 12:02] ratson commented on #255
If you confirm your setting is correct, there is not much can be done other than waiting.

[2021-03-21 12:08] ratson commented on #241
Added to FAQ
https://admob-plus.github.io/docs/cordova/faq#shoud-i-use-apples-att-prompt

[2021-03-21 12:08] #241 closed

[2021-03-21 14:11] kevinainleywalker opened #256 "Capacitor IOS adview creates black screen on first launch and orientation change"
### Is this a bug report?

Yes

### Environment

[code]

### Steps to Reproduce

(Write your steps here:)

1. install @admob-plus/capacitor@1.0.0
2. use the following code in the app component:
[code]
3. Run the app

### Expected Behavior

Banner is added to the bottom of the app inside its own webview.

### Actual Behavior

1. On first launch (uninstall/reinstall app), the ad shows ad the bottom

[2021-03-21 16:05] EMI-INDO opened #257 "hi friend how is this?"
### hi friend how is this?

_If my code is wrong, please correct it_

### click the Show banner button
`Double Ad`

_How to prevent ads from becoming double_

### check Sample code [index.zip](https://github.com/admob-plus/admob-plus/files/6177759/index.zip)

### Check  app-release-SIGNED_ALIGNED.apk
[app-release-SIGNED_ALIGNED.zip](https://github.com/admob-plus/admob-plus/files/6177768/app-releas

[2021-03-21 16:30] ratson commented on #257
@EMI-INDO You are create `BannerAd` every time when calling `showBannerAd()`, wrap it like this to avoid that,
[code]

[2021-03-21 17:04] EMI-INDO commented on #257
### perfect it worked

_Thanks a friend_

[2021-03-21 17:04] #257 closed

[2021-03-21 17:41] ratson commented on #256
@kevinainleywalker I cannot reproduce that. Would you create repo for me to test?

[2021-03-21 19:23] kevinainleywalker commented on #256
Hi @ratson , I have created this [DemoRepo](https://github.com/kevinainleywalker/AdmobPlusDemo)
Using ionic angular capacitor base application with just your plugin installed on top.

First open resulted in this on iPhone pro max simulator and my iPhone XR:
![Simulator Screen Shot - iPhone 12 Pro Max - 2021-03-21 at 19 16 27](https://user-images.githubusercontent.com/1355081/111918005-d9398200-8a7

[2021-03-22 09:13] piernik commented on #250
@ratson  I've sent You invitation to project.

[2021-03-22 12:37] maihannijat commented on #254
@ratson I am using Ionic Angular with Capacitor. I have installed Admob Plus Ionic with Admob Plus Cordova and that's why it was crashing. I removed both plugins and installed Admob Capacitor only but it does not compile now. See the below error:

[2021-03-22 13:50] ratson commented on #256
@kevinainleywalker I tried your repo  and don't see the black screen.
https://user-images.githubusercontent.com/2682937/111998788-50dcdf00-8b57-11eb-8e09-59d55a1ec1f6.mov

I need your help to address this bug.
Would you try the following?
1. Run `ionic cap open ios`
2. Open Pods > Development Prods > AMBBanner.swift
3. Insert a new line `stackView.sendSubviewToBack(backgroundView)` after
[code]
4.

[2021-03-22 13:56] ratson commented on #254
@maihannijat I am not sure what is going wrong with your setup by looking at the error message.
You could clone and try https://github.com/ratson/AdmobPlusDemo

[2021-03-22 14:06] maihannijat commented on #254
@ratson

I can see you are using the beta version of the Capacitor which fixes the compile issue.

I am testing your repo and get back to you.

[2021-03-22 14:25] maihannijat commented on #254
Closing this issue since crashing fixed with using Admob Plus Capacitor and using the above-mentioned versions of the Capacitor and iOS.
But with these changes, bug #256 appears. I also see a black screen and the banner ad at the bottom.

[2021-03-22 14:25] #254 closed

[2021-03-22 14:38] ratson commented on #250
@piernik You need to use the latest play services version,
https://admob-plus.github.io/docs/cordova/faq#how-to-use-with-cordova-android-play-services-gradle-release

[2021-03-22 14:43] ratson commented on #254
@maihannijat Would try apply the fix and let me know the result? I cannot see the black screen problem.

[2021-03-22 15:06] maihannijat commented on #256
@ratson I followed the steps here https://capacitorjs.com/docs/v3/updating/3-0#ios after installing capacitor 3 beta and this fixed the problem for me. I see my app working fine without any issues now.

Summary:
Use Admob Plus Capacitor (remove Admob Plus Ionic and Admob Plus Cordova)
Use Capacitor https://capacitorjs.com/docs/v3/updating/3-0
Follow all the steps in the above link for iOS and shou

[2021-03-22 15:37] 1n3JgKl9pQ6cUMrW opened #260 "Banner show several times within the same frame"
### Is this a bug report?

It could be.

### Environment

- Several Android devices (tablets, phones)
- Several Android versions (version 5, up to version 10)
- Cordova CLI 10
- Cordova Android 9
- Latest release of the plug-in (version 1.0)

### Steps to Reproduce

1. Set-up a test banner, as described [here](https://admob-plus.github.io/docs/cordova/ads/banner#usage).
2. Open the app
3. The bann

[2021-03-22 16:03] ratson commented on #260
@1n3JgKl9pQ6cUMrW Did you keep `await banner.hide()`?
It is there for demo purpose.

[2021-03-22 16:13] 1n3JgKl9pQ6cUMrW commented on #260
Thank you for the reply.

I've been debugging this thing for almost a week now, created three test-apps, read all the source-code line by line, implemented my own event-listener-debug-program, etc... :-)

---

No I did not use the `banner.hide()`, only the code below;

---

[code]

And I also tried the simpler version of this code;

[code]

I tried calling this event from `deviceready`, `on click`

[2021-03-22 16:17] ratson commented on #256
@maihannijat Thank you for finding that out.
I have updated the docs for the Capacitor 3.0 requirement.

[2021-03-22 16:20] kevinainleywalker commented on #256
Thanks @ratson . The safe area patch update works a treat.

As for the black screen. I think at best it seems to behave correctly most of the time. In the demo app I sent you, it behaves almost every time, but I've caught a black screen occasionally on startup (initial launch) and occasionally on orientation change.

In my real app however, it's most of the time on initial startup and every time o

[2021-03-22 16:21] ratson commented on #260
@1n3JgKl9pQ6cUMrW I am thinking if the flash is just the SDK itself reloading the ads.
You may want to check https://github.com/googleads/googleads-mobile-android-examples/tree/master/java/admob/BannerExample to see if it is the default behavior.

[2021-03-22 16:23] maihannijat commented on #256
After orientation change
![Simulator Screen Shot - iPhone 8 - 2021-03-22 at 12 23 00](https://user-images.githubusercontent.com/21307976/112023185-63c8c280-8b09-11eb-87f0-92ac3fa04a1d.png)

[2021-03-22 16:28] ratson commented on #256
@kevinainleywalker

This is due to the webview is resized within the safe area, changing status bar color should fix that.

Thank you for confirming that does not work.
I am now having no idea how to fix it :(

[2021-03-22 16:33] 1n3JgKl9pQ6cUMrW commented on #260
Yeah, I am not sure this is a `bug` or `feature`.

It both happens using `test ID's` and `production ID's` (in several apps and set-ups).

---

Indeed, it looks like if the SDK if "resetting" itself, because I only call the plug-in once and the `on.load event` is also fired once.

But it's weird, I've never seen this before.

I used to use `cordova-admob-pro` from `floatinghotpot` for years, but a

[2021-03-22 16:59] kevinainleywalker commented on #256
Ha, sorry @ratson :(

Also setting the status bar color after the advert is shown still leaves it black:

[code]

[2021-03-22 17:01] kevinainleywalker commented on #256
Actually scratch that, setting the status bar color from the capacitor plugin is only supported on android

[2021-03-22 21:53] EMI-INDO opened #261 "examples cordova consent does not work (Android)"
### Hi, friend

### I tried this it doesn't work on android
https://github.com/admob-plus/admob-plus/tree/master/examples/cordova-consent

`cordova plugin add cordova-plugin-consent@1.0.1`
`cordova plugin add admob-plus-cordova@1.0.1 --variable APP_ID_ANDROID=ca-app-pub-3940256099942544~3347511713`

### no show form

### Ad no show

_thank you_

[2021-03-22 23:49] Carlosps commented on #261
Is not user consent only for iOS platform?

[2021-03-23 04:20] tominou opened #262 "Android crash reports: admob.plugin.ads.InterstitialAd cannot be cast to admob.plugin.ads.BannerAd"
Hi,

I receive many identical crash reports from Firebase, here is it:

[code]

Thank you in advance

[2021-03-23 05:06] EMI-INDO commented on #261
@Carlosps

### I don't know, Sorry🙏

### This old version supports android and ios, works for me.
https://github.com/admob-plus/admob-plus/blob/cordova-plugin-consent%400.19.0/examples/consent/www/js/index.js

Thank you.

[2021-03-23 08:57] piernik commented on #250
@ratson You did it :) Thank You.
But there is some issues in docs. Here https://admob-plus.github.io/docs/cordova/installation is that all I need to do is to enable `AndroidX` (I have cordova 10). But it does not work.
So I have to install `cordova-android-play-services-gradle-release`.  Maybe there should be tip to use `cordova-android-play-services-gradle-release` if previuos fails.

[2021-03-23 11:18] ratson commented on #262
@tominou You are using an old version of the plugin, update to the latest version may fix it.

[2021-03-23 11:49] ratson commented on #261
@EMI-INDO Try remove the if block
[code]

[2021-03-23 12:55] ratson commented on #256
@kevinainleywalker @maihannijat I have make some changes to the background view handling in v1.0.2.
Would you help me check if that fixes the black screen problem?

[2021-03-23 13:05] maihannijat commented on #256
@ratson The black screen bug is fixed for me.

The new version creates another bug:
Closing Interstitial ad opens another Interstitial ad and this keeps going. Unable to go back to the app.

[2021-03-23 13:34] ratson commented on #256
@maihannijat Are you sure it is introduced in v1.0.2? I did not touch any lines of code of Interstitial.

[2021-03-23 13:46] maihannijat commented on #256
@ratson I am not exactly sure, but just noticed it.

[2021-03-23 14:08] kevinainleywalker commented on #256
@ratson that has done the trick, thanks!

The black status bar remains an issue for me on ios however (although a much smaller issue).  The official capacitor docs say they don't support amending status bar color on their plugin as apple don't export an api for it. (Status bar on ios devices being transparent).

The way I've set it before is by changing the background color of my app. It seems lik

[2021-03-23 16:09] EMI-INDO commented on #261
@ratson

### Hi, friend

_I tried this, it didn't work (android)_

_remove plugins and platforms, re-add_

https://admob-plus.github.io/docs/cordova/consent

document.addEventListener('deviceready', async () => {
  if (cordova.platformId === 'ios') {
    await admob.requestTrackingAuthorization()
  }

  const consentStatus = await consent.getConsentStatus()
  if (consentStatus === consent.ConsentS

[2021-03-23 16:53] ratson commented on #182
Support is added in latest release.

[2021-03-23 16:53] #182 closed

[2021-03-23 16:56] #256 closed

[2021-03-23 18:21] FischerTech opened #264 "banner.show() is improperly altering the dimensions of the webview."
### Is this a bug report?

YES

### Environment

@admob-plus.ionic@1.0.1
admob-plus-cordova@1.0.2

Ionic:

   Ionic CLI                     : 6.13.1 (/usr/local/lib/node_modules/@ionic/cli)
   Ionic Framework               : @ionic/angular 5.6.0
   @angular-devkit/build-angular : 0.1000.8
   @angular-devkit/schematics    : 11.2.4
   @angular/cli                  : 10.0.8
   @ionic/angular-toolkit

[2021-03-23 19:10] kevinainleywalker opened #265 "IOS Capacitor - black status bar and safe area on IOS devices after banner.show()"
### Is this a bug report?

Yes

### Environment

[code]

### Steps to Reproduce

1. install @admob-plus/capacitor@1.0.2
2. use the following code in the app component:
[code]
3. Run the app

### Expected Behavior

Banner ad will insert into the safe area at the bottom position and the status bar/bottom safe area offset will remain the default app color

### Actual Behavior

The status bar and bott

[2021-03-24 04:48] tominou commented on #262
Indeed it wasn't the latest version.

However, after upgrading I think I get similar reports:
[code]
Thank you in advance

[2021-03-24 10:34] aenima86 commented on #249
ty, it helped to switch to Xcode 12 :)

[2021-03-24 10:34] #249 closed

[2021-03-24 14:54] #264 closed

[2021-03-24 16:04] ratson commented on #265
@kevinainleywalker Fixed in v1.1.0
Instead of setting the background color as the app color (which I don't know how to read from the webview), I make the text visible with light color.

[2021-03-24 16:06] ratson commented on #262
@tominou Would post your code how to create the ads? The error indicates that you passing the wrong id to native call.

[2021-03-24 16:09] ratson commented on #261
@EMI-INDO What values do you get from `consentStatus` and `formStatus`?

[2021-03-24 18:08] kevinainleywalker commented on #265
Works for me @ratson , thanks!

[2021-03-24 18:08] #265 closed

[2021-03-24 20:13] EMI-INDO commented on #261
@ratson

no value I got from `form.show (). catch (alert)`

### is pub-xxxx required?

`await consent.requestInfoUpdate(['pub-xxxxxxxxxxxxxx'])`

I tested it with an application that has been released in the Play Store

and the admob Funding Choices account
has been activated

thank you

[2021-03-24 21:58] 1n3JgKl9pQ6cUMrW commented on #260
After days of debugging, testing and reading all the source-code I can not `solve` this issue.

Most of the times I see two, sometimes even three, banners within five seconds.

This causes a "flickering" user experience, which is annoying at best.

---

But I was able to `hide` the issue by using the `Cordova Splash Screen Plugin` at https://github.com/apache/cordova-plugin-splashscreen

I did set

[2021-03-24 21:58] #260 closed

[2021-03-25 03:19] keenamos96 opened #267 "The following build commands failed: CompileSwift normal x86_64/Users/User/myapp/platform/ios/myapp/Plugins/cordova-plugin-consent/CSNConsent.swift"
### Is this a bug report?

Yes

### Environment

Package.json
[code]

I also added this in my **config.xml** but it doesn't work as well
[code]

### Steps to Reproduce

1. I added the plugin with **ionic cordova plugin add cordova-plugin-consent**.
2. When running the command **ionic cordova platform build ios**. This error occurs.

### Expected Behavior

The app should run perfectly without error

[2021-03-25 12:49] #262 closed

[2021-03-25 13:34] #267 closed

[2021-03-26 14:28] MrRotella opened #268 "Invalid action response on consent getConsentStatus function"
### Is this a bug report?

Yes

### Environment

[code]

### Steps to Reproduce

(Write your steps here:)

1. Install plugin: cordova plugin add admob-plus-cordova --variable APP_ID_ANDROID=ca-app-pub-XXX~XXX
2. Install consent plugin: cordova plugin add cordova-plugin-consent
3. On deviceReady call consent.getConsentStatus()

### Expected Behavior

ConsentStatus response (note that i can get resp

[2021-03-26 14:45] EMI-INDO commented on #268
###I also https://github.com/admob-plus/admob-plus/issues/261

[2021-03-26 17:52] #261 closed

[2021-03-26 17:56] #268 closed

[2021-03-27 13:56] ratson commented on #56
Close as related to the old version.

[2021-03-27 13:56] #56 closed

[2021-03-27 13:57] ratson commented on #227
Close as related to the old version.

[2021-03-27 13:57] #227 closed

[2021-03-27 13:58] ratson commented on #233
Close as related to the old version.

[2021-03-27 13:58] #233 closed

[2021-03-27 13:58] ratson commented on #236
Close as related to the old version.

[2021-03-27 13:58] #236 closed

[2021-03-27 13:58] ratson commented on #219
Close as related to the old version.

[2021-03-27 13:58] #219 closed

[2021-03-27 13:58] ratson commented on #210
Close as related to the old version.

[2021-03-27 13:58] #210 closed

[2021-03-27 14:00] #238 closed

[2021-03-27 14:00] #248 closed

[2021-03-27 14:01] ratson commented on #251
Close as related to the old version.

[2021-03-27 14:01] #251 closed

[2021-03-27 14:01] #250 closed

[2021-03-27 14:02] #255 closed

[2021-03-27 14:08] ratson commented on #46
Move to https://github.com/admob-plus/admob-plus/discussions/269

[2021-03-27 14:08] #46 closed

[2021-03-27 14:19] ratson commented on #66
Move to https://github.com/admob-plus/admob-plus/discussions/271

[2021-03-27 14:19] #66 closed

[2021-03-27 14:21] ratson commented on #68
Move to https://github.com/admob-plus/admob-plus/discussions/272

[2021-03-27 14:21] #68 closed

[2021-03-27 14:33] #54 closed

[2021-03-27 14:33] #199 closed

[2021-03-27 14:33] #202 closed

[2021-03-27 14:34] #204 closed

[2021-03-28 01:48] EMI-INDO opened #273 "cordova-plugin-consent ( error: Method must be call on main thread )"
### Hi, friend
_If my code is wrong please correct it_

### Every time I get `consent.FormStatus.Available

### Produce `Method must be call on main thread`

`The original admob app id`
`The original admob AD ID`
`Admob Funding Choices ACTIVATED`
`com.package app original`

### I am using a country VPN (EEA) - (UK)

### this is my code

### Action  get Consent Status

            `const consentSta

[2021-03-28 05:45] sanjaykrwebdev opened #274 "Cannot find module 'admob-plus-cordova' or its corresponding type declarations"
[ng] Build at: 2021-03-28T05:26:35.491Z - Hash: c6d62a1306c6999e2f14 - Time: 10526ms
[ng] Error: node_modules/@admob-plus/ionic/ngx/index.d.ts:2:280 - error TS2307: Cannot find module 'admob-plus-cordova' or its corresponding type declarations.
[ng] 2 import { AdMob as IAdMob, BannerAd as IBannerAd, BannerAdOptions, InterstitialAd as IInterstitialAd, NativeActions, RewardedAd as IRewardedAd, Rewar

[2021-03-28 06:36] ratson commented on #274
@sanjaykrwebdev You should install `admob-plus-cordova` instead of `cordova-admob-plus 0.0.0`.

[2021-03-28 06:39] ratson commented on #273
@EMI-INDO Thank you for reporting it, I will soon release the fix.

[2021-03-28 06:43] #273 closed

[2021-03-28 12:42] 1n3JgKl9pQ6cUMrW opened #275 "Make clear what a new release offers"
### Is this a bug report?

**No.**

---

I am following this excellent plug-in for months now, but there is one thing that is a bit annoying;

It has "too many" updates following after each other.

I am using version 1.0.0 for about one week one (used 0.37 during bèta-testing of my own apps) and one week later we are already at 1.3.0

It's not the updates that are the issue, but the lack of inform

[2021-03-28 17:26] ratson commented on #275
@1n3JgKl9pQ6cUMrW Thanks for bringing this up.
I know it is useful to have detailed release notes, but an automatic generated CHANGELOG is the best I could offer
https://github.com/admob-plus/admob-plus/blob/master/packages/cordova/CHANGELOG.md

Do you want to help  rewriting them into a separate, more readable release note?

[2021-03-28 17:49] #275 closed

[2021-03-29 08:19] sqapli opened #277 "Cannot find an ad network adapter with the name(s): com.google.DummyAdapter."
Hi

Working with the Reward Ad Test ID for ios, I get the following error after requesting an ad on the xcode-simulator:

"Cannot find an ad network adapter with the name(s): com.google.DummyAdapter. Remember to link all required ad network adapters and SDKs, and set -ObjC in the 'Other Linker Flags' setting of your build target."

**Plugins:**
@admob-plus/ionic: 1.0.5
admob-plus-cordova: 1.2.2

*

[2021-03-29 10:04] DonZheng opened #278 "Suggestion: Please make revenue share (if any) rules clear on README."
Most cordova admob plugins on github take developers revenue in some way, either secretly or publicly.

Does admob-plus take any share of developers' revenue? If yes, how much?  If not, how can developers financially donate to you?

Please make it clear on README instead of a link to external site. I reckon this will benefit all developers in the community.

Cheers

[2021-03-29 10:40] EMI-INDO commented on #278
@DonZheng

https://admob-plus.github.io/
https://github.com/ratson/cordova-plugin-admob-free

[2021-03-29 12:00] DonZheng commented on #278
@EMI-INDO Thanks for adding links to this thread. However, the suggestion is that developers can clearly understand plugin authors revenue sharing policy on README, instead of having to dig out the truth through one or two or three or more links.  Hope this makes sense to you.

[2021-03-29 14:00] ratson commented on #278
@DonZheng I see you point.
Updated the README, feel free to send PR to improve the text.

[2021-03-29 16:21] ratson commented on #252
@lsantaniello Would you run `npx admob-plus@1.4.0 doctor` in your cordova project root directory to see if it detects any issues?

[2021-03-29 16:29] ratson commented on #277
@sqapli I am able to use it to display ads.
Would you create a test repo for me to check?

[2021-03-29 19:00] EMI-INDO opened #282 "Are there any plans to add mediation ads"
### Hi, friend

Are there any plans to add mediation ads?

https://developers.google.com/admob/android/mediate

thank you

[2021-03-29 19:35] #277 closed

[2021-03-30 13:46] ratson commented on #282
@EMI-INDO No plan to add that, unless someone would fund it for supporting a particular ad networking.
You vote and continue the discussion in https://github.com/admob-plus/admob-plus/discussions/269

[2021-03-30 13:46] #282 closed

[2021-03-31 06:53] NeroNekro opened #284 "Ad doesn't work"
Hello there,

the app doesnt show any adds. I dont get any errors.

I added the scripts at the bottom from my html page.
<script src="js/admob.js"></script>

[code]

Plugin is installed
`cordova plugin ls
admob-plus-cordova 0.0.0 "admob-plus-cordova"`

AndroidManifest.xml : In my file is the right ID
`<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-111

[2021-03-31 13:33] ratson commented on #284
@NeroNekro I don't see anything wrong in the code.
Did you read https://admob-plus.github.io/docs/troubleshooting?

[2021-03-31 13:33] #252 closed

[2021-03-31 13:42] EMI-INDO commented on #284
@NeroNekro

Your banner is correct, but because there is `await banner.hide ()` the banner is immediately missing.

interstitial will not appear, add `let interstitial`

###  try the sample code that has been provided.

https://github.com/admob-plus/admob-plus/tree/master/examples/cordova

[2021-03-31 19:35] NeroNekro commented on #284
Thanks for the tips.

I have now tried out a few things.

The example from you works immediately as a separate app.

Then I copied the Javascript code and used it 1:1. Then the Deviceready div and a banner plus a InterstitialAd transferred as a button. In my app it shows device ready, but pressing the banner buttons has no success.

I have compared the missing Config.xml with mine and added missin

[2021-03-31 20:19] EMI-INDO commented on #284
@NeroNekro

### in config.xml

[config.zip](https://github.com/admob-plus/admob-plus/files/6239165/config.zip)

[code]

### index.html + JS

_try this simple code_

[index.zip](https://github.com/admob-plus/admob-plus/files/6239206/index.zip)

[2021-03-31 21:20] NeroNekro commented on #284
@EMI-INDO

cool, thats work beautiful :) Thanks

Can I put the Banner in a div? At the moment the banner moves my entire layout and some offset it breaks my background

[2021-03-31 22:03] EMI-INDO commented on #284
@NeroNekro

https://admob-plus.github.io/docs/cordova/ads/banner

[2021-04-01 15:51] ratson commented on #243
@SeVeNDuS You can pass `npa="1"` to indicate that, see https://admob-plus.github.io/docs/cordova/consent#forward-consent

[2021-04-01 15:54] ratson commented on #284
@NeroNekro You cannot put the ads in div since they are not HTML element.
You could use `offset=0` to overlay the banner.

Close as the issue is resolved.

[2021-04-01 15:54] #284 closed

[2021-04-01 23:48] Carlosps commented on #158
Hello everyone,

Is there any chance the adaptive banner could be implemented in this plugin?

They seem to be planning to deprecate smart banners as stated here [android migration](https://developers.google.com/admob/android/migration.)

[2021-04-02 17:59] felipe-ff opened #285 "How to use the consent plugin on Ionic"
On the official website, there is a "Request Consent" topic, but only for the cordova version.

When I try to install it and try to use it on ionic I get the following error: "Cannot find name 'consent'.ts(2304)".

How to use the consent plugin on ionic projects?

[2021-04-02 18:54] EMI-INDO commented on #285
@felipe-ff

### Have you tried this code

https://github.com/admob-plus/admob-plus/blob/master/examples/cordova-consent/www/js/index.js

### If the application has been released

https://support.google.com/fundingchoices/answer/9180084

[2021-04-02 22:06] felipe-ff commented on #285
I did, but that's a cordova example, I need an ionic example.

The ionic example on that project does not have Consent.

[2021-04-03 00:21] harryt2 opened #286 "Banner Ad show() causing ad to be re-created each time"
When you `hide()` and then `show()` the banner ad, it gets re-created. This is a problem because it causes you to make too many ad requests, which can affect your CPM. Each advertiser is getting less screen time (lowers CTR) since it's switching so quickly.

You can test this by running `hide()` and `show()` a few times and you'll see the ad flash and change each time you call `show()`. It should

[2021-04-03 04:15] #285 closed

[2021-04-03 04:15] #243 closed

[2021-04-03 10:45] ratson commented on #286
@harryt2 Would you try with `admob-plus-cordova@1.4.0` to see if it fixes the issue?

[2021-04-03 15:47] eliadAfeka opened #288 "NSUserTrackingUsageDescription - asked even if I'm not using it"
**Describe the bug**
when I upload my app to apple, it seems to use "NSUserTrackingUsageDescription".
does it use it always ? or when I call "requestTrackingAuthorization()"?
I need to fill privacy setting following this permission.

are you tracking the device id to set better ads ? or if set to "turned off" by default?

thanks.

**To Reproduce**
Steps to reproduce the behavior:
1. upload your ap

[2021-04-03 16:15] ratson commented on #288
It is used when calling `requestTrackingAuthorization()`

[2021-04-03 16:15] #288 closed

[2021-04-03 17:38] harryt2 commented on #286
I just tested it. I can confirm that this is working perfectly. Thank you so much, amazing plugin!! :)

[2021-04-03 17:40] #286 closed

[2021-04-04 04:39] osben opened #289 "'bringSubviewToFront' has been renamed to 'bringSubview(toFront:)'"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**

[code]

**Additional

[2021-04-04 04:39] osben commented on #289
https://prnt.sc/113o7ha

[2021-04-04 06:45] caiotiengo commented on #233
@ratson still nothing works.. even in the latest version! how can we solve that?

[2021-04-04 08:53] CaturViriyananda opened #290 "cannot find module 'glob'"
i do `cordova plugin add admob-plus-cordova`
and return

here is my `npm -g ls`

i already had `npm -g install glob` but still receive cannot find module 'glob'

[2021-04-04 09:35] CaturViriyananda commented on #290
i resolved this by npm install locally instead of global install
`npm install glob --save`
later will also requre plist so :
`npm install plist --save`

[2021-04-04 09:35] #290 closed

[2021-04-04 11:11] ratson commented on #289
@osben Please run `npx admob-plus@1.6.0 doctor` to check if you are build with old swift version.

[2021-04-04 13:06] 1n3JgKl9pQ6cUMrW commented on #289
Run the following command in your project root directory,

`npx admob-plus doctor`

*This will scan for common errors and provide suggestions how to fix them.*

Ref. https://admob-plus.github.io/docs/troubleshooting

[2021-04-05 00:18] dkstraub opened #292 "The click event does not work"
Hi,

The click event does not work. I am trying to detect when the user interacts with the banner but I am not successful

            document.addEventListener('admob.banner.click', async () => {
                alert(1);
            })

in version 0.X the detection was done with the following event -> admob.banner.exit_app

I hope you can help me.

Thanks for the excellent work!

[2021-04-05 08:06] EMI-INDO commented on #292
@dkstraub

https://admob-plus.github.io/docs/cordova/api/enums/events

[2021-04-05 10:08] 1n3JgKl9pQ6cUMrW commented on #292
`click` does work, even `close` (on Android) does work.

See https://github.com/admob-plus/admob-plus/pull/259

---

But you are using the alpha / bèta version of this plug-in with a different namespace.

*Please update / upgrade to the production version as mentioned above.*

[2021-04-05 14:28] ratson commented on #292
@dkstraub There is not official way to listen the banner click from the iOS SDK. If you know one, please let me know.
The `exit_app` event has been removed because the the latest SDK has removed it.

[2021-04-05 14:28] #292 closed

[2021-04-05 14:29] #289 closed

[2021-04-06 08:56] kotran88 opened #293 "TypeError: Cannot read property 'start' of undefined"
I just follow as installation guide says
[code]
but the problem is that it cause below error on this.admob.start()
why is it happened?

``ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'start' of undefined
TypeError: Cannot read property 'start' of undefined
    at AdMob.start (index.js:191)
    at HomePage.<anonymous> (home.ts:138)
    at step (main.js:1816)
    at Object.nex

[2021-04-06 11:50] shadiawad opened #294 "offset not work properly"
Hi
When I try to use offset: 0, then I click hardware back button then return to app to show ads again ( app crash) .

  showBannerAd() {
    const banner = new admob.BannerAd({
      adUnitId: 'ca-app-pub-3940256099942544/6300978111',
	  offset: 0,
    })
    return banner.show()
  },

https://user-images.githubusercontent.com/24823430/113705043-9d8ef100-96e5-11eb-8a57-d54682cac184.mp4

Thanks

[2021-04-06 14:33] MrRotella opened #295 "get consentType with consent plugin"
To make best use of the recent property 'npa' in the creation of the banner, it would be useful to implement the new method getConsentType.
[https://developers.google.com/admob/ump/android/api/reference/com/google/android/ump/ConsentInformation.ConsentType](https://developers.google.com/admob/ump/android/api/reference/com/google/android/ump/ConsentInformation.ConsentType)
Thanks for your valuable

[2021-04-07 10:50] piernik commented on #250
@ratson it is not working :/ I didn't had time back then so I just try build project and it did worked, but now I see that it didn't has `admob-plus-cordova` plugin in `package.json` :/

I came back to project and tried to build it with no success. Can You take a look once more time?
If I remove one of plugins all works but I need both of them :)

Is You plugin dependent only on `play-services-ads

[2021-04-07 16:37] Mou95 commented on #294
Hi, how did you manage to use this plugin? I am not able to call admob.start(). Looks like admob is always undefined even after deviceready event is triggered

Thanks

[2021-04-08 09:56] rideo-eduardmorales commented on #210
Hi, we are getting the same error using latest version "admob-plus-cordova": "1.4.0". Relevant parts (in our opinion) of our package.json:
"cordova-ios": "6.2.0",
"cordova-plugin-cocoapod-supportx": "1.7.3",
"cordova-plugin-firebasex": "11.0.3-cli"
"cordova-plugin-googleplus": "8.5.1"
"cordova-android-firebase-gradle-release": "4.0.0",
"cordova-android-play-services-gradle-release": "4.0.0",
"cord

[2021-04-08 11:36] piernik opened #296 "App crashes after init"
**Describe the bug**
App is building but after start it crashes.

**To Reproduce**
1. cmd `ionic start myApp tabs`
2. cmd `ionic cordova plugin add admob-plus-cordova --variable APP_ID_ANDROID="ca-app-pub-xxx"`
3. cmd `npm install @admob-plus/ionic`
4. cmd `ionic cordova run android --device --prod`

Build failed. Error is that I need to turn on `AndroidX`

5. Added line `<preference name="Android

[2021-04-08 13:16] ratson commented on #296
@piernik I run exactly the commands, no crash.

![screen](https://user-images.githubusercontent.com/2682937/114033017-7ab03880-98af-11eb-87e2-616ad88ce8cb.png)

[2021-04-08 14:23] bardgr opened #297 "StatusBar.overlaysWebView is overwritten from admob plus"
**Describe the bug**
I have in my cordova app the plugin cordova-plugin-statusbar version 2.4.3
I set in the preferences at config xml for ios the StatusBar.overlaysWebView to False
**To Reproduce**
Steps to reproduce the behavior:
1. Create a cordova app for ios that has a long index html
2. install cordova-plugin-statusbar version 2.4.3
3. In config xml for platform ios add the following

4. ins

[2021-04-08 14:38] piernik commented on #296
@ratson Can You share Your project on github?

[2021-04-08 14:42] ratson commented on #296
@piernik https://github.com/ratson/admob-plus-ionic-tabs-starter

[2021-04-08 15:06] piernik commented on #296
@ratson thx. i'll analyse it tomorrow.

[2021-04-08 17:07] dekpo opened #298 "iOS ONLY black screen when using both banner and interstitial ads"
**Describe the bug**
iOS ONLY : The webview is going completely black/dark after hiding an interstitial (or even reward) ad when a banner has been shown somehow in the app...

**To Reproduce**
Steps to reproduce the behavior: iOS ONLY
1. Launch a banner
2. And then an interstitial (or reward)
3. After closing the latter
4. The application is completely black/dark (the webview seems gone)

**Expect

[2021-04-08 18:19] ShakesVision opened #300 "Open Bidding support (Mediation to maximize revenue)"
I need a little help with this beta program called **Open Bidding** by admob. Is there a way to achieve this (mediation thing?) via your plugin + ionic?

[Overview of Open Bidding (Beta)
](https://support.google.com/admob/answer/9234488?hl=en#zippy=%2Cexample-open-bidding-mediation-group)

The official website suggests some native code here:
https://developers.google.com/admob/android/mediate

The

[2021-04-08 19:22] Carlosps commented on #238
@gigafishapps and @ratson Any updates on that?

I am facing exactly the same issue, I run the on my device and it works perfectly great but when I try to archive I get No such module 'GoogleMobileAds'

[2021-04-08 19:46] gigafishapps commented on #238
Try copying in AdMob manually into the project and then in your Project
file make sure to include the dependencies. You add that in Build Phases
tab.

On Thu, 8 Apr 2021 at 20:23, Antonio Carlos Reis ***@***.***>
wrote:

[2021-04-08 20:23] Carlosps commented on #238
@gigafishapps Yes, I have seen some people mentioning I would have to import it in the build phases but I couldn't find in the list.

Can you please specify where I could copy the Admob from and where to?

Thank you for your help.

[2021-04-08 20:45] gigafishapps commented on #238
body{font-family:Helvetica,Arial;font-size:13px}I just did that in my previous reply.   On 8 April 2021 at 21:23:50, Antonio Carlos Reis ***@***.***) wrote:
@gigafishapps Yes, I have seen some people mentioning I would have to import it in the build phases but I couldn't find in the list.
Can you please specify where I could copy the Admob from and where to?
Thank you for your help.

—You are rece

[2021-04-08 20:57] Carlosps commented on #238
@gigafishapps  Can you tell me how your Podfile looks like?
I am guessing it might be some dependency not being listed there.

[2021-04-08 22:14] gigafishapps commented on #238
I told you to do it manually not with Pods, try that. Cheers.

On Thu, 8 Apr 2021 at 21:58, Antonio Carlos Reis ***@***.***>
wrote:

[2021-04-09 01:34] Carlosps commented on #238
@gigafishapps I have tried what you mention. I did work, I was able to create the archive.

But I have some points to mention.

I was not able to run on a device without errors anymore
I did face another issue related to deploying to the store 'unexpected Mach-O header code' and it seems to be related to adding the frameworks manually.
So, I believe it would be better for us to solve it using the

[2021-04-09 08:14] gigafishapps commented on #238
To be honest, for me this plugin and others were so full of occurring
issues I just went with rewriting all my apps in native iOS. I recommend
this approach to you.

On Fri, 9 Apr 2021 at 02:34, Antonio Carlos Reis ***@***.***>
wrote:

[2021-04-09 11:04] ratson commented on #300
see https://github.com/admob-plus/admob-plus/discussions/269

[2021-04-09 11:04] #300 closed

[2021-04-09 11:23] piernik commented on #296
@ratson It's working. Thank You for Your time. Problem was with my `APP_ID_ANDROID`.
I think ionic docs  can be improoved by adding info about `<preference name="AndroidXEnabled" value="true" />` in `config.xml` file and installing `ionic cordova plugin add cordova-plugin-androidx-adapter`.

BTW. I also solved problem with `google-maps` plugin.
I had to manually add
[code]
In `platforms/android/pr

[2021-04-09 11:23] #296 closed

[2021-04-09 11:24] piernik commented on #250
I solved problem
I had to manually add
[code]
In `platforms/android/project.properties`.

No `cordova-plugin-androidx` and `cordova-android-play-services-gradle-release` is needed.

[2021-04-09 11:42] #298 closed

[2021-04-09 12:47] piernik commented on #293
I have the same problem.
If You are using it in browser (as `ng serve`) it is not working.
It works only when it is built with cordova.

[2021-04-09 13:57] omedina72 commented on #297
I have been using admob-plus for quite a while now. Now I'm trying to update to comply with the new consent requirements. BUT I'm having exactly the same issue about the statusbar. Whenever the ad banner is shown at the bottom the webview overlaps the statusbar. This happens in iOS at least.

[2021-04-09 14:48] ratson commented on #297
@omedina72 @bardgr Would you create a test repo for me to check?

[2021-04-09 15:03] 1n3JgKl9pQ6cUMrW opened #301 "Banner not correctly shown after rotate"
### **Describe the bug**

Banners are not resized when the device is rotated, even when a new banner is loaded after the rotation itself.

### **To Reproduce**
Steps to reproduce the behavior:

1. Hold your device in `portrait-mode` and start the app
2. A banner is shown, e.g. 320x50 dimension **(see image 1)**
3. Rotate the device to `landscape-mode`
4. The same banner is shown **(see image 2)**

[2021-04-09 15:21] 1n3JgKl9pQ6cUMrW commented on #301
I **color-coded** the areas / behavior what (I think) causes the problem.

![image](https://user-images.githubusercontent.com/15701574/114202819-df26d280-9957-11eb-928f-960acca88bea.png)

[2021-04-09 15:28] 1n3JgKl9pQ6cUMrW commented on #297
I tested this on `Android 5, 6, 7, 8, 9` and `10` (all real world devices, not simulators) - but I can not reproduce the issue on this OS.

(just to narrow the bug)

[2021-04-09 17:29] Carlosps commented on #238
@gigafishapps Thank you for your help.

I was able to solve this issue by going to XCode Targets -> Build Phases -> Link Binary With Libraries

Next I just needed to click the + button and search for
GoogleMobileAds.xcframework
UserMessagingPlatform.xcframework

[2021-04-09 21:41] Ricardo385 opened #302 "Cannot find name 'Omit' on install latest version 1.4.0"
Hi @ratson i updated from ^1.0.0-alpha.12 to ^1.4.0 yesterday, but when i'm trying to serve or build the app it's take me this error:
`ERROR in node_modules/@admob-plus/ionic/ngx/index.d.ts:4:68 - error TS2304: Cannot find name 'Omit'.
[ng] 4 export declare class BannerAd extends IonicNativePlugin implements Omit<IBannerAd, 'opts'> {
[ng]

[2021-04-10 13:10] #301 closed

[2021-04-10 13:12] ratson commented on #302
@Ricardo385 Make sure your TypeScript >= 3.5.1 or set `skipLibCheck` to `true`.

[2021-04-10 13:12] #302 closed

[2021-04-10 13:17] ratson commented on #295
@MrRotella The consent type API has been removed from the iOS SDK, see https://developers.google.com/admob/ump/ios/download

[2021-04-10 13:17] #295 closed

[2021-04-10 13:19] 1n3JgKl9pQ6cUMrW commented on #301
**The issue was closed while I was adding my solution. So I will add my solution for future reference, while this may be deprecated.**

---

I fetched the Cordova Orientation plug-in from https://cordova.apache.org/docs/en/10.x/reference/cordova-plugin-screen-orientation/

After that, I used a listener that hides the current banner and creates a new one when the device is rotated.

### BEFORE ROTA

[2021-04-10 13:51] ratson commented on #293
@kotran88 You need to import `'@admob-plus/ionic/ngx` and inject the AdMob instance in `AppModule`.
Update the docs, https://admob-plus.github.io/docs/ionic#initialize-admob-sdk

[2021-04-10 13:51] #293 closed

[2021-04-10 13:55] ratson commented on #294
@shadiawad Would you confirm if this is fixed in `admob-plus-cordova@1.5.0`?

[2021-04-10 13:56] ratson commented on #301
@1n3JgKl9pQ6cUMrW Would you check if `admob-plus-cordova@1.5.0` fixes this?

[2021-04-10 14:13] shadiawad commented on #294
Works for me Thank you so much for excellent plugin

[2021-04-10 14:16] #294 closed

[2021-04-10 15:17] 1n3JgKl9pQ6cUMrW commented on #301
**Yes, I can confirm `1.5.0` fixes the rotation issue.**

---

I tested it on a couple of phones and tablets, using Android 6, 7 and 10.

So my own solution (posted earlier in this thread) is now deprecated.

[2021-04-10 17:39] piernik commented on #293
@ratson it is not a solution. I have AdMob provided. If I didn't it wouldnt work also when build with cordova.

[2021-04-10 22:37] Ricardo385 commented on #302
@ratson that's not resolved my problem, if I set `skipLibCheck` to `true` the app compile well but when open it's stay in a white screen after splash screen hide.

[2021-04-11 03:44] AlvinStefanus opened #303 "Capacitor "AdMobPlus" Plugin is not implemented on Android."
`npx admob-plus doctor`

`npx: installed 293 in 13.823s`
`✔ googleads.g.doubleclick.net`
`❯ CocoaPods`
`  ✖ Google-Mobile-Ads-SDK not found`
`✔ package.json`
`↓ Cordova Android dependencies [SKIPPED]`
`↓ config.xml [SKIPPED]`
`↓ platforms/ios/*.xcodeproj [SKIPPED]`
`↓ plugins/admob-plus-cordova/package.json [SKIPPED]`

**Describe the bug**
Unhandled Rejection (Error):
"AdMobPlus" plugin is not imp

[2021-04-11 15:05] ratson commented on #303
@AlvinStefanus Cannot recreate the issue. Would you setup a test repo for me to check?

[2021-04-12 09:20] bardgr commented on #297
Hello @ratson ,
Here -> https://github.com/bardgr/testing-repo-admob-plus-297/tree/main/testing you can find a test repo
you need to run cordova platform ad ios and add the plugins.

ca-app-pub-3940256099942544~1458002511 is a generic variable for  APP_ID_IOS.

Try loading first only the status bar plugin then add the admob-plus-cordova. You will see the statusbar when you do not have admob plus c

[2021-04-12 16:58] #297 closed

[2021-04-12 17:03] ratson commented on #297
@bardgr Thank you for setting up the repo, it really helps me to identify the issue.
Please try `admob-plus-cordova@1.5.1` and report back if the issue is resolved.

[2021-04-12 17:05] ratson commented on #302
@Ricardo385 I don't the issue on my setup. I will check if you setup a test repo.

[2021-04-12 17:09] ratson commented on #293
@kotran88 @piernik I can tell the cause just from the error, a test repo will help me to see the problem.

[2021-04-12 17:30] ratson commented on #210
@rideo-eduardmorales If you could setup a test repo, then I will check the problem.

[2021-04-12 17:36] ratson commented on #233
@caiotiengo Please setup a test repo for me to check.

[2021-04-12 18:04] ajprok opened #304 "App crashes when resuming - java.lang.IllegalStateException: The specified child already has a parent. You must call removeView() on the child's parent first."
**Describe the bug**
Admob shows banner ad without issues. But when app is resumed from background, the app crashes. The following is the error log:

[code]

**Environment**

[code]

**Additional context**
The following code is run whenever the app resumes from background:
[code]

[2021-04-12 19:40] danieleisenhardt commented on #210
I'm sorry to say that I do not have the time right now. Maybe later, unless rideo-eduardmorales beats me to it.

[2021-04-13 10:10] 1n3JgKl9pQ6cUMrW commented on #304
I can confirm.

I receive 10.000's of crash-reports a day since version `@1.5.0`

The bug is introduced with the code that resolves the `rotate device / rotate banner`  issue.

For now I am rolling out an emergency-fix by deprecating `1.5.0` and going back to `1.4.0` with my handmade solution for the rotation bug.

The error mention occurs only after a cold resume (app closed, but active in memory

[2021-04-13 10:51] ajprok commented on #304
As per user @1n3JgKl9pQ6cUMrW experience, I too used the version 1.4.0, and things seem to be **working perfectly so far**.

I used the following command to remove the latest version:
[code]
Command to use version 1.4.0:
[code]

[2021-04-13 10:55] ratson commented on #304
@1n3JgKl9pQ6cUMrW @ajprok Do you able to trigger problem? I tried to put the app in background and resume without problem. Would you guide me with steps to check the problem?

[2021-04-13 10:58] ajprok commented on #304
I will try emulate the issue in a test repo. Will respond in a few hours.

[2021-04-13 11:03] 1n3JgKl9pQ6cUMrW commented on #304
**Ready to help, sir :-)**

Actually, I don't do anything special.

---

1. Open the app
2. Press (on Android) the "home" button (mostly a square of circle in the middle of the buttonbar on the bottom of the screen)
3. Re-open the app - everything should be okay (app is resumed from tombstone mode)
4. Now "exit" the app by pressing the left arror (or right... depending if your locale supports RTL

[2021-04-13 11:37] ratson commented on #304
@1n3JgKl9pQ6cUMrW You are the champion, I am able to see the error occasionally with the steps.

[2021-04-13 11:38] #304 closed

[2021-04-13 11:40] 1n3JgKl9pQ6cUMrW commented on #304
Well, in my opinion you are the real champion - I'm just someone helping the community :-)

But you've made a perfect plug-in, enabling many of us to earn some  money with our home-brew apps!

[2021-04-13 13:42] ajprok commented on #304
The latest version resolves this issue.

@1n3JgKl9pQ6cUMrW Thank you very much for your support.

@ratson Thank you for this great plugin, and the amazingly fast fix.

Wishing you both well. :)

[2021-04-13 20:25] bardgr commented on #297
Hello @ratson ,

Thank you very much the issue is resolved :)

[2021-04-14 09:33] yigit-serin opened #305 "No banner ad appears in IOS when offset is defined."
**Describe the bug**
No banner ad appears in IOS when offset is defined.
There is no problem in IOS when offset is not defined. Ad displayed at selected position.

There is no problem in Android.
With offset value or without offset value is working correctly in Android.

**To Reproduce**
Steps to reproduce the behavior:
1. const banner = new admob.BannerAd({
        adUnitId: 123,
       offset: 1

[2021-04-14 14:58] #305 closed

[2021-04-14 15:51] ratson commented on #305
@yigit-serin `admob-plus-cordova@1.5.3` should fix this.

[2021-04-15 02:00] caiotiengo commented on #233
@ratson just sent a invitation for you! [heres the link](https://github.com/caiotiengo/macu)

[2021-04-15 08:42] yigit-serin opened #306 "IOS Banner ads cannot be clicked."
**Describe the bug**
IOS Banner ads cannot be clicked.
When you try to click ads, nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1.const banner = new admob.BannerAd({
adUnitId: 123
})
2.Run in IOS simulator: Iphone 8 plus, IOS 14
3.banner.show();
4.Click banner, nothing opened.

**Expected behavior**
Ad url must be opened.

**Environment**
[code]

[2021-04-15 09:34] yigit-serin opened #307 "Ad size option not working on Android"
**Describe the bug**
Ad size option not working properly on Android.
In IOS, size options works correctly with given ad size option.

**To Reproduce**
Steps to reproduce the behavior:
1.  const banner = new admob.BannerAd({
adUnitId: 123,
size: 2 //MEDIUM_RECTANGLE
})
2.Run in Android Emulator: Android 11
3.banner.show();
4.Banner size seems smart banner.
[code]

[2021-04-15 14:09] #307 closed

[2021-04-15 15:31] #306 closed

[2021-04-15 20:01] maury844 opened #309 "Position property should be exposed for Capacitor plugin"
**Describe the bug**
The position property is not exposed and there is no way to set it (and by trying to read the code, I think it is already implemented)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new `BannerAd`
2. Try to display it on top of your app

**Expected behavior**
As the cordova plugin, the capacitor plugin should expose a `position` property, that you can set to to

[2021-04-15 22:42] yigit-serin opened #310 "Status bar area changed after banner show"
**Describe the bug**
Status bar area changed after banner show in IOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Run app which is contains tabs in IOS simulator, IOS version: 14.4, Simulator: Iphone XR
2. Open a new page without tab.
3. Create and show banner ad with default params.
4. new admob.BannerAd({
        adUnitId: 123,
      });
4. Click back button.
5. banner.hide();
6. Stat

[2021-04-16 00:52] fseve commented on #265
Could you please explain what is the specific solution? I can't understand it

[2021-04-16 14:05] ratson commented on #310
@yigit-serin There is really no easy fix for this issue as it come down to who is managing the webview size.
Use `offset` could bypass the problem by not resizing the webview, then within the webview reserve space for displaying the banner.
I am going to add a new API to control the top/bottom margin for those need it.

[2021-04-16 16:04] #309 closed

[2021-04-16 20:24] yigit-serin commented on #310
@ratson I tried with **offset** but status bar changed again, no solution. I think adding the banner view causes this situation independent of location. (over content or before content)
I tried new banner config parameters but I can't see any difference.
` this.banner = new admob.BannerAd({
        adUnitId: 123
      });
      await this.banner.show();
      this.banner.config({marginBottom: 100}

[2021-04-17 10:57] ratson commented on #310
Should be working with `admob-plus-cordova@1.7.0`

this.banner = new admob.BannerAd({ adUnitId: 123 }); this.banner.config({marginBottom: 100}); await this.banner.show();
no ad displayed.

It is a static method, see https://admob-plus.github.io/docs/cordova/ads/banner#global-settings

[2021-04-20 15:16] bardgr commented on #310
@ratson tried with 1.7.0 did not work
It is the same with the issue https://github.com/admob-plus/admob-plus/issues/297
that was solved with 1.5.1 version

[2021-04-21 08:45] rideo-eduardmorales commented on #210
OK, I'll try to setup it and I'll let you know. Thanks.

[2021-04-21 11:01] rideo-eduardmorales commented on #210
Hi @ratson, I've set up a repo:

https://github.com/team-rideosoftware/admob-plus-test

After cloning, to replicate the error follow these steps:

1. Add admob-plus plugin with sample admob App ID from Google(iOS: https://developers.google.com/ad-manager/mobile-ads-sdk/ios/quick-start, Android: https://developers.google.com/ad-manager/mobile-ads-sdk/android/quick-start)

`ionic cordova plugin add

[2021-04-21 13:07] #310 closed

[2021-04-21 13:27] ratson commented on #210
Update `cordova-plugin-firebasex` to v12 will solve the issue.

[2021-04-22 17:44] rideo-eduardmorales commented on #210
Thank you for your pull request. I did not specify that we had tried to update to v12 the firebasex plugin, but then another conflict appeared with cordova-plugin-googleplus, and that's why we discarded that option.

So, haveing accepted that we have to update to v12, and I know that this may not be related to admob-plus, but since you understand these things better than I do, I would really appre

[2021-04-26 12:49] richwebapps opened #315 "Error with latest version from fresh project - cannot find type CDVPlugin in scope class AMBPlugin"
**Describe the bug**
Installing for the first time on iOS. Followed instructions and after installing the plugin, "cordova build" fails with errors including:
  Plugins/admob-plus-cordova/AMBPlugin.swift:8:18: error: cannot find type 'CDVPlugin' in scope class AMBPlugin: CDVPlugin {

When I run "npx admob-plus-doctor" the only error I get is:
❯ CocoaPods
  ✖ Google-Mobile-Ads-SDK: 8.4.0 != 8.3.0

[2021-04-26 17:50] richwebapps commented on #315
I solved this by removing the cocoapod-support plugin.

[2021-04-26 17:50] #315 closed

[2021-04-27 11:15] cauboy opened #316 "Errors are thrown when installing admob-plus-cordova due to missing module 'properties-parser'"
**Describe the bug**
The plugin cannot be installed due to missing module `Error: Cannot find module 'properties-parser'`

When installing the module (`npm install -D properties-parser`) before running the install command, everything is fine.

**To Reproduce**
Run the install command from the docs:

[code]

**Expected behavior**
I expect the plugin being installed without errors

**Environment**

[2021-04-27 18:20] EMI-INDO opened #319 "Banner offset keep stopping"
Hi, friend?

If using the offset banner the app keeps stopping.

### PLAY_SERVICES_VERSION: 19.8.0

cordova plugin add admob-plus-cordova@1.7.1 --save --variable APP_ID_ANDROID=ca-app-pub-3940256099942544~3347511713

### detail
CORDOVA CLI: 10.0.0
CORDOVA ANDROID : 9.0.0

### sample code
[index.zip](https://github.com/admob-plus/admob-plus/files/6386685/index.zip)

### 2 app-debug-offset-AND-NO-of

[2021-04-28 03:12] CaturViriyananda commented on #316
try `npm install properties-parser`

[2021-04-28 10:00] rideo-eduardmorales commented on #210
Hi @ratson, forget my last message, we decided to get rid of cordova-plugin-googleplus. Now, we have admob-plus-cordova added to our ionic 3 test project, it builds correctly, and we followed the plugin documentation to show an interstitial ad, but the following line:
[code]
throws this error in the console:
[code]

Could you please take a look at the test repo and tell us if there is a fix we cou

[2021-04-28 12:33] cauboy commented on #316
@CaturViriyananda thanks, that's what I've done to fix it.

I was mentioning that, b/c  if the plugin requires `properties-parser` it should be part of the required dependencies.

[2021-04-28 14:04] ollm commented on #177
You can use `offset: 0` to overlap, I used it on android and it works fine.

[code]

https://github.com/admob-plus/admob-plus/blob/master/website/docs/cordova/ads/banner.md#offset

[2021-04-29 01:43] CaturViriyananda commented on #316
i once was also had similar issue take a look here #290
i installed the required module locally instead of globally that previously wont fix my issue

[2021-04-29 11:40] ratson commented on #316
@cauboy What is your npm version?

[2021-04-29 11:42] ratson commented on #303
Close as not enough information to proceed.

[2021-04-29 11:42] #303 closed

[2021-04-29 14:49] ollm commented on #319
I have the same problem and I am using the latest version of the plugin (admob-plus-cordova@1.8.0), I think it is related to this https://github.com/admob-plus/admob-plus/issues/304

One way to make it happen is to call twice to `banner.show()`

**log calling twice to `banner.show()`:**

[code]

**Firebase log (Production):**

[code]

[2021-04-29 15:10] #319 closed

[2021-04-30 11:49] ollm opened #320 "addBannerViewWithLinearLayout produces a Fatal Exception, java.lang.IllegalStateException"
**Describe the bug**
Error in `addBannerViewWithLinearLayout` in `admob-plus-cordova@1.8.0`, currently I use `offset: 0` (`addBannerViewWithRelativeLayout`) whit `admob-plus-cordova@1.8.1` and this error does not appear.

**To Reproduce**
I could not replicate it in my device, it appears and affects 6% of my users in firebase log:
[code]

**Expected behavior**
That crash does not happen.

**Enviro

[2021-04-30 15:06] schlackl opened #321 "Plugin overrides statusBaroverlaysWebView() setting in iOS"
Steps to reproduce:
1. Install the admob-plus-cordova

2. Include the following in app initialize for deviceready
admob
   .start()
   .then(() =>
         admob.BannerAd.config({
             marginTop: 10,
             marginBottom: 10,
         }),
   )
   .catch(alert);

if (StatusBar != null) {
	StatusBar.overlaysWebView(false);
	StatusBar.styleDefault();
}

3. Add the following to document.r

[2021-04-30 15:38] ratson commented on #321
@schlackl Did you try without `admob.BannerAd.config({
marginTop: 10,
marginBottom: 10,
}),`?

[2021-04-30 15:41] #320 closed

[2021-04-30 16:08] #316 closed

[2021-04-30 20:56] yigit-serin opened #323 "IOS crash"
**Describe the bug**
Iphone 8 Plus, IOS 14.5 when I want to show banner ad, app crashes and gives that error.

*** Terminating app due to uncaught exception 'NSGenericException', reason: 'Unable to activate constraint with anchors <NSLayoutYAxisAnchor:0x6000035f31c0 "UIStackView:0x7fe4b6a06ac0.top"> and <NSLayoutYAxisAnchor:0x6000035f2fc0 "UIView:0x7fe4b6a3a050.bottom"> because they have no common

[2021-05-01 10:39] #323 closed

[2021-05-01 13:31] eliadAfeka opened #324 "Admob - App open"
hi,

is it on your road map?
I remember you said you are going to implement it when it will not be beta.

[2021-05-01 13:40] faytekin opened #325 "Dramatic increase in Android Crash Rates after updating the plugin"
Previously, I was using the version 0.x of AdMob Plus and I migrated to admob-plus-cordova in order to use the updated plugin. I made the integration according to the document. After starting to use the updated plugin (1.x), my app's Android crash rate increased dramatically. New crash rate is approximately 10 times bigger than the old crash rate. These 4 crashes on the Google Play Console panel r

[2021-05-01 14:05] schlackl commented on #321
Yes I tried that and while it seems to work at first, when I return from the camera to my app after taking a photo for use in my app, the statusbar reverts to overlay my app and again. However, for some reason if I "pause" the app into the background and then resume the app, the statusbar fixes itself.

That said, it is definitely the admob plugin that changes the statusbar style after returning f

[2021-05-01 16:22] ratson commented on #324
@eliadAfeka Please use `Discussions` for this kind of question, see https://github.com/admob-plus/admob-plus/discussions/314

[2021-05-01 16:22] #324 closed

[2021-05-01 16:36] ratson commented on #325
@faytekin I will release fix for `optAdOrCreate` soon.
The `addBannerViewWithLinearLayout` should have been fixed, please let me know if you see the number is decreasing or not.

[2021-05-01 16:49] ratson commented on #321
@schlackl Is the original issue solved in `1.8.3`?
For the camera issue, would you create a test repo for me to check.

[2021-05-01 17:27] #325 closed

[2021-05-01 20:21] schlackl commented on #321
It's difficult to say if the original issue is fixed - it might be the same issue but slight disguised - I'm working on a couple other tests to be sure....I'll post here again when I have more - thanks for the quick replies!

[2021-05-01 20:58] yigit-serin opened #326 "Android hardware back button closes app after banner ad display"
**Describe the bug**
When I opened a new page and after that called banner.show() screen makes a lightning effect.
After that banner ad shown.
When I clicked header back button and I can go back without any problem.
When I clicked hardware back button, app closed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a new page
2. this.banner = new admob.BannerAd({
          adUnitId: 123,

[2021-05-02 06:28] ratson commented on #326
@yigit-serin Looks like you have installed old version of the plugin `admob-plus-cordova: ^1.7.0 => 1.8.2 `.

[2021-05-02 06:31] yigit-serin commented on #326
I updated to 1.9.0, the problem continues.

[2021-05-02 06:37] ratson commented on #326
@yigit-serin I tried your code without issue, would you setup a test repo for me to check?

[2021-05-02 11:02] victorvhpg opened #327 ""admob-plus-cordova" addBannerViewWithLinearLayout sometimes throw java.lang.StackOverflowError"
After updated the plugin, i have a lot of erros

I using latest version "admob-plus-cordova": "^1.9.0",

[code]

[2021-05-02 11:59] ratson commented on #327
@victorvhpg Would you check if `1.9.1` fixes the issue?

[2021-05-02 12:33] victorvhpg commented on #327
thanks, but now the banner doesn't show
I think there a bug here:
[code]
the first time that show banner,  getParentView(mAdView)  is null  and rootLinearLayout is null too
then addBannerViewWithLinearLayout never was called

[2021-05-03 11:51] ratson commented on #327
@victorvhpg Would you try again with `1.9.2`?

[2021-05-03 13:49] victorvhpg commented on #327
@ratson
the error still happens, but now on line 291
[code]

<img width="1557" alt="Screen Shot 2021-05-03 at 10 47 59" src="https://user-images.githubusercontent.com/333451/116884488-2a519f80-abfd-11eb-8915-b066ba691a40.png">

[2021-05-03 15:22] schlackl commented on #321
Hello - this seems to be resolved and is working. There was a piece of code left over from the previous plugin that worked around a status bar issue but after removing that things seem to be working correctly now. If other issues arise I will open a new case but this is closed now :)

[2021-05-03 16:51] ratson commented on #327
@victorvhpg I am not sure if `1.10.0` fixes the issue.
It would be great if you could pin point how the exception is occurred for me to debug.

[2021-05-04 11:35] yigit-serin opened #329 "Is it possible to destroy ad views instead of hide"
**Describe the bug**
If you create a lot of ad units, every unit create an ad view (interstitial, banner etc.) this situation uses a lot of ram usage.
There is no destroy option to lower memory usage.

**To Reproduce**
Steps to reproduce the behavior:
1.   interstitial = new admob.InterstitialAd({
    adUnitId: '123',
  })

  await interstitial.load()
  await interstitial.show()

2. interstitial =

[2021-05-04 12:34] ratson commented on #329
No at the moment as I don't expect there will more than 5+ ad units for most of the case.
Ad instance should be reused instead of recreating them every time.
@yigit-serin Is there any special case you need to create many ad units?

[2021-05-04 12:51] chriswardo opened #330 "java.lang.NoSuchMethodException from banner.load on Android ("Fail to create ad")"
**Describe the bug**
`banner.load` results in a NoSuchMethodException with message "Fail to create ad".

Output from adb logcat (device connected via USB):
[code]

**To Reproduce**
[code]

**Expected behavior**
Banner ad should display but it doesn't.

**Environment**

[code]

**Additional context**

Output from `npx admob-plus doctor`:
[code]

[2021-05-04 12:54] victorvhpg commented on #327
@ratson  the bug still happens

[code]

[2021-05-04 13:09] yigit-serin commented on #329
I used 3 types of ad. (banner, rewarded, interstitial)
To measure ad unit performance, I created some ad units to use on app sections.
Every instance create a new ad view.
Destroy ad views might be a good feature.

[2021-05-04 14:08] faytekin commented on #325
@ratson I updated the app with your 1.9.0 and those 4 crashes have not occurred for 48+ hours. Thank you very much for your very quick fix.

Now we have a new crash with less occurrence count with 1.9.0 (18 crashes in 48 hours). (We could not test 1.9.2 in production yet)

I have seen the latest issues about banner ads. But I am not sure that they are the same with below.

[code]

[2021-05-04 14:28] ratson commented on #330
@chriswardo I could run your code without issue, would you create a test repo for me to check?

[2021-05-04 14:30] ratson commented on #329
As this is feature request, move it to `Discussions`.

[2021-05-04 14:30] #329 closed

[2021-05-04 15:05] victorvhpg opened #332 "banner show again after hide() - at onConfigurationChanged"
if i hide(method hide()) a banner, then i change my android theme to dark/light, the java "onConfigurationChanged" event is triggered and the banner will show again(even if i have already hides it)

[2021-05-04 16:05] #332 closed

[2021-05-04 16:24] yigit-serin commented on #326
@ratson You can check out on this repo.
https://github.com/yigit-serin/lightningt

You can see the problems on emulator.
1. Lightning effect
2. Hardware back button problem

[2021-05-05 12:52] kevinainleywalker opened #333 "Capactitor package doesn't expose requestTrackingAuthorization"
**Describe the bug**
Capacitor package doesn't expose requestTrackingAuthorization method. Or at least I can't find it within the package or how to implement it - sorry if I am missing something.

Requesting Tracking Authorization is now a requirement for app updates/new app submissions.

From Apple "Apps that track user's activity must implement App Tracking Transparency and request permission be

[2021-05-05 13:16] victorvhpg commented on #327
if my  manifest code declares an activity that handles  orientation|screenSize|screenLayout|keyboardHidden .....

` android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"`

the  'onConfigurationChanged' its triggered on any that configuration change (orientation|screenSize|screenLayout|keyboardHidden), NOT ONLY  in orientation change

Always that 'onConfigurationChanged' is cal

[2021-05-06 05:13] chriswardo commented on #330
After an immensely frustrating week of trying everything and being completely baffled, I've finally fixed it!

If using Proguard, you need to add the following to your proguard file for this plugin to work:
[code]

I'm amazed that no one else has come across this issue, but I recommend adding it to the README for others. Without that proguard rule, the code is removed and it results in the excepti

[2021-05-06 14:13] #330 closed

[2021-05-06 14:31] #327 closed

[2021-05-06 16:32] #333 closed

[2021-05-07 00:45] victorvhpg commented on #327
@ratson thanks

[2021-05-08 09:15] zeezonez commented on #326
I having the same problem, after several hours investigation. I finally found the root of this problem.

Because when admob add a banner view, it (bannerview) takes a focus from parent view.
That's why any button events won't be fired.

So, I tried to get the focus back to parent view, and It's works.

Here is my temporary solution,

in app module 's banner.java,  search for

then add a below stat

[2021-05-09 06:26] ratson commented on #326
@zeezonez Would you share the exception you seen before crash? I am wondering why it is happening.

[2021-05-09 14:31] zeezonez commented on #326
@ratson

There is no crash, just the back button (hardware) registered event not working (I think all other hardware buttons too)

document.addEventListener("backbutton", yourCallbackFunction, false);

Because the focus taken by admob banner view when it created.

[2021-05-09 15:42] diaxotora opened #336 "build error phonegap android"
here is the error i get when i build my project,
phonegap cli : 9.0 :

FAILURE: Build failed with an exception.

* What went wrong:

 FAILED

Execution failed for task ':app:processDebugResources'.

  C:\Users\k_ben\GCFlix\platforms\android\app\build\intermediates\merged_manifests\debug\AndroidManifest.xml:33: AAPT: error: unexpected element <queries> found in <manifest>.

* Try:
Run with --stackt

[2021-05-09 19:47] OneToMany opened #337 "NPA option for other ads type (interstitial, rewarded)"
I found on this [link](https://admob-plus.github.io/docs/cordova/consent/#forward-consent) that we can only set npa: '1' options for banner ads.

How we can set that same option for non-personal ads for other ads types like interstitial and rewarded ads?

[2021-05-10 00:18] zeezonez commented on #326
@ratson

More information.

After the bannerads view added and shown (it take focus), then hardware buttons event will not fire.
If user touch/tap/interact at app webview a few times, the app takes the focus back and the buttons works correctly.

[2021-05-10 14:46] #337 closed

[2021-05-10 17:00] diaxotora commented on #336
Hi know i'm using cordova-cli 10.0.0 and here is my project platform :
Installed platforms:
  android 9.1.0
Available platforms:
  browser ^6.0.0
  electron ^1.0.0
  windows ^7.0.0
i'm using gradle 6.7.1 too,

i use this plugin for android build and when i add "<platform name="android">
        <preference name="AndroidXEnabled" value="true" />
    </platform>" to my config.txt file i get this err

[2021-05-10 23:37] diaxotora commented on #336
thank you for your response, i solve the problem by adding plugin cordova-plugin-androidx-adapter to my project  thank you

[2021-05-10 23:37] #336 closed

[2021-05-10 23:55] diaxotora opened #338 "Ads don't appear"
Hi,
I used the plugin, it works very well with the test AdUnitIds, the ads appear correctly, but when I include the AdUnitIds from my admob account the block does not appear and the loadfail event is triggered, here is my code :
async function onDeviceReady() {
    let banner;
    let interstitial;
    await admob.start();
    banner = new admob.BannerAd({
      adUnitId: "xxxxxx"
    });
    inte

[2021-05-11 10:30] markenapps commented on #326
Looks like you have to focus an input field first to get the back-button working again.

[2021-05-11 12:18] diaxotora commented on #338
Hello,
the code for the banner gives no error but the interstitial code gives the following error:
Uncaught (in promise) {
  "Code": 3,
  "Message": "No ad config.",
  "Domain": "com.google.android.gms.ads",
  "Cause": "null",
  "Response Info": {
    "Response ID": "null",
    "Mediation Adapter Class Name": "",
    "Adapter Responses": []
  }
}
please help me

[2021-05-11 17:05] ratson commented on #338
Read https://admob-plus.github.io/docs/troubleshooting#why-are-ads-not-showing

[2021-05-11 17:05] #338 closed

[2021-05-11 20:36] bartboersma opened #339 "Android Studio not able to find play-services-base"
Hi,

I know this is not an issue with Admob, but most likely you know the answer so I am trying anyway. When I am following the Capacitor installation guide and build the project in Android Studio I am getting:

Android studio version is 4.2
Capacitor version is 3.0.0-rc.2
In SDK manager of Android Studio I've updated all SDK Tools. Tools installed: Android SDK Build-Tools 31-rc3, Android Emulator

[2021-05-11 21:01] #339 closed

[2021-05-12 03:14] zeezonez commented on #326
@ratson

I updated and tested on my two projects, and I can confirm that your code works like a charm.

Thank you so much... ^^

[2021-05-12 06:13] markenapps commented on #326
I can confirm this too. Thanks for your great work!

[2021-05-12 13:08] ratson commented on #326
@zeezonez @markenapps Thanks for confirming that.

[2021-05-12 13:08] #326 closed

[2021-05-19 01:45] vietnux opened #341 "Ad fraud"
my app android often get error: "Ad fraud" and app remove from Play.
i fixed and upload new version. It run only any day and Play resend for my a email alert: Ad Fraud, after Play removed my app.
Current! I fixed and app is release. But i dont know it will be remove

This is my app: [https://play.google.com/store/apps/details?id=com.amlich.labanphongthuy](https://play.google.com/store/apps/details

[2021-05-19 15:47] ratson commented on #341
See https://admob-plus.github.io/docs/troubleshooting#why-my-app-is-removed-from-google-play

[2021-05-19 15:47] #341 closed

[2021-05-20 21:05] richwebapps commented on #255
I'm having the same issue. I had Admob Pro amd moving to Admob Plus. Everything works fine on the Simulator but not on a real device. The app is live and showing ads correctly with the other plugin, but not with Admob Plus. I can't publish until I can verify that ads run. There must be a reason why it says "No ad config."

[2021-05-21 14:38] detremp opened #343 "Please trial version only to compile with Cordova."
Could someone provide me with a zip with the trial version just to compile with Cordova

[2021-05-21 15:19] richwebapps commented on #255
@Calsy were you able to resolve this?   @ratson I think there's more to it than lack of inventory. I've tried existing ad units that are working fine with the existing release as well as brand new ad units, banner and interstitial. If I add the testDeviceIds in the configRequest, it shows a test ad on the devices, but I can't get a real ad to show.

[2021-05-21 16:09] #343 closed

[2021-05-21 19:29] bartboersma commented on #255
Same issue. IOS works fine, Android works fine on emulator but not on real device.

[2021-05-23 09:47] skidrow88 commented on #339
Hello !

How did you resolve the issue ?

[2021-05-23 15:52] gpofblank opened #345 "ERROR Error: Uncaught (in promise): TypeError: InterstitialAd.getPlugin(...) is not a constructor"
Hello guys,

I've been using this plugin for 3 of my apps.
Just developed my 4th app and noticed that the plugin has been completely overwritten...

Followed the "new" documentation and got to this point:

"ERROR Error: Uncaught (in promise): TypeError: InterstitialAd.getPlugin(...) is not a constructor"

Looking at the code, this must be it -> index.js:
 constructor(opts: { adUnitId: string }) {

[2021-05-25 11:57] richwebapps opened #349 "'No ad config.' Presenting live ads in Android - Reopening"
Re-opening since the issue still happens for several of us.  Banner and Interstitial ads work fine in iOS and also on the Android emulator. Ads also display on Android devices when using testDeviceIds configRequest. But live ads for Androids always produce this error.

Uncaught (in promise) {
  "Code": 3,
  "Message": "No ad config.",
  "Domain": "com.google.android.gms.ads",
  "Cause": "null",

[2021-05-25 17:54] kisimediaDE opened #350 "Get rewared event in Ionic Capacitor"
**Describe the bug**
I tried to get a callback if the reward was successfully and what item was rewared.
For this I tried different ways like:
- AdMobPlus.addEventListener(...) -> But here I get the error message that property 'addEventListener' does not exist on type 'AdMobPlusPlugin'
- Then I tried it with rewared.reward -> But here I get the error message that property 'reward' does not exist o

[2021-05-26 19:34] gpofblank commented on #345
Just for the protocol...
This is not helping too.

"ionic-angular user needs to update typescript to a recent version, or config "skipLibCheck": true in tsconfig.json to avoid type errors."

[2021-05-26 19:44] gpofblank commented on #345
Wonder if that has anything to do with the issue ->   "extends": "@tsconfig/node10/tsconfig.json",
I do not have @tsconfig in my project files and is not a valid package to begin with.

[2021-05-26 19:51] richwebapps commented on #255
For others experiencing this, I tried building a production APK and deployed it manually and it finally shows ads. It seems the debug build has this issue. I still think there's something in this plugins since other plugins don't seem to have this issue.

[2021-05-26 19:51] gpofblank commented on #345
Or may be this... -> npm ERR! Could not install from "../../internal/rollup-config" as it does not contain a package.json file.

[2021-05-26 19:53] richwebapps commented on #349
For others experiencing this, I tried building a production APK and deployed it manually and it finally shows ads. It seems the debug build has this issue. I still think there's something in this plugin that causes the error since other plugins don't seem to have this issue.

[2021-05-26 21:59] gpofblank commented on #345
Turned out the whole "internal" dir was not shipped with the plugin. Even though I downloaded it separately and put it where it needed to be, the issue still remains.

[2021-05-27 08:27] deadlyjack opened #353 "Cordova app not opening 2nd time after closing it."
In debug console below errors are shown:

`
cordova.js:1237 deviceready has not fired after 5 seconds.
`
`
cordova.js:1230 Channel not fired: onFileSystemPathsReady
`

This happens after calling `admob.start()` method. Without `admob` the app works perfectly.

Here is snippet/code:

[code]

I'm using webpack, babel for compile src code.

Even after closing app, these webview kept showing. I'm not

[2021-05-27 08:27] bartboersma commented on #255
@richwebapps same for me. I think it has something to do with 'filling the advertisement inventory'. There simply seems to be no advertisements, but this was resolved on production.

[2021-05-27 16:23] ratson commented on #353
@deadlyjack You should `await` the `config()` and `show()`.
Is the webview means you are running the app in background?

[2021-05-27 16:28] ratson commented on #345
@gpofblank `internal/` holds build dependencies, which you don't need to run the app.
It would be helpful if you could prepare a test repo.

[2021-05-27 16:29] ratson commented on #349
@richwebapps Did you run `npx admob-plus doctor`. It looks like it is a build cache problem.

[2021-05-27 17:03] EMI-INDO opened #355 "App Open Ad ( Error )"
I tried the open ad sample app code
https://github.com/admob-plus/admob-plus/blob/master/examples/cordova/www/js/index.js

`plugin version @1.12.4`
`cordova @10.0.0`
`cordova-android @^9.0.0`
`cordova plugin add admob-plus-cordova --variable APP_ID_ANDROID=ca-app-pub-3940256099942544~3347511713`

### got this error

<img src="https://user-images.githubusercontent.com/78555833/119865751-31db3e80-bf

[2021-05-27 20:12] richwebapps commented on #349
Hi @ratson . Yes I did. Everything looks good. Seems to fail only in the debug build.

[2021-05-27 20:55] deadlyjack commented on #353
Thanks for the help. Turned out missing `await` before the `config()` was causing the issue. Silly me!
About those webviews, they appear in chrome remote inspect, even after the app is closed. App doesn't run in background.
However my problem is solved, you can close this issue.

[2021-05-27 21:15] deadlyjack commented on #353
Thanks for the suggestion, but it couldn't fix the issue.
About those webviews, they appear in chrome remote inspect, even after the app is closed. App doesn't run in background.

The project where I'm trying to use this plugin is open source. [The app](https://github.com/foxdebug/wallpaper-FXDBG.git)

[2021-05-28 15:12] ratson commented on #353
@deadlyjack I am not able to build the project as `src/plugins/cordova-plugin-wallpaper` and `secrets.json` are missing.

[2021-05-28 16:16] ratson commented on #355
@EMI-INDO You are trying out too early. I have just finished the documentation and released it.
Let me know if you could get it working.

[2021-05-28 16:35] Sayene opened #356 "iOS 'admob.interstitial.dismiss' not fired"
**Describe the bug**

Error on iOS after Interstitial (any) is dismissed. No ads are shown after this error.

**To Reproduce**
Steps to reproduce the behavior:
1. create, load, and show InterstitialAd
[code]

2. dismiss the ad using ad's close button
3. check xcode console / log to see:
[code]
4. call to load done on admob.interstitial.dismiss event does not work (ad is not shown)

**Expected beha

[2021-05-28 17:16] Sayene commented on #356
looks similar to [capacitor-community/admob issue](https://github.com/capacitor-community/admob/issues/82), just fixed

[2021-05-28 17:33] deadlyjack commented on #353
Hi, sorry for the inconvenience, I've fixed the repo. You can try gain.

[2021-05-28 18:04] #355 closed

[2021-05-28 18:22] kisimediaDE commented on #350
Hey, I created a small test app to show everything I tried.
During creating this small test app I also tried to run it on android. And there it's working.
Only on iOS devices I didn't receive any feedback from the RewaredAd.

Link to the repo: [https://github.com/kisimediaDE/AdsTest](https://github.com/kisimediaDE/AdsTest)

Called init in: `src/app/app.component.ts` _Line 12_
Added button to open

[2021-05-28 19:39] EMI-INDO commented on #356
@Sayene

https://github.com/admob-plus/admob-plus/blob/master/examples/cordova/www/js/index.js

[2021-05-28 23:33] Sayene commented on #356
@EMI-INDO , ok I've double checked the demo and ads do load after Interstitial was dismissed. However:

1.  'admob.interstitial.dismiss' is not fired (in my code I called other ads from this event - since they did not load)
2.  Target is not running ... error is logged - not sure what impact it has

On Android, the same code runs OK, 'admob.interstitial.dismiss' event is fired when interstitial ad

[2021-05-29 08:23] #353 closed

[2021-05-29 08:53] #356 closed

[2021-05-29 09:35] deadlyjack commented on #353
I updated the plugin and tried again and the issue persistent. (current version 1.13.1)

[2021-05-29 09:42] Be4t5 commented on #349
HI, I have the same problem. I can't test the ads implementation if I can't run it in debug mode. Any solution?

[2021-05-29 10:06] kisimediaDE commented on #350
Many thanks for your quick help! 👍
Tested the new version 1.10.1 on Android and iOS with AdMobPlus.addListener

On iOS now everything is working like it should work 🥳

But on Android the AdMobPlus.addListener is not fired.
When I add document.addEventListener again then Android is working.

[2021-05-29 12:43] ThomasC31x commented on #349
Hi, same problem

[2021-05-29 15:48] ratson commented on #349
@richwebapps @Be4t5 @ThomasC31x I will check if there is a test repo.

[2021-05-29 19:15] EYALIN opened #357 "Open ad - opens after modal or interstitial ad"
**Describe the bug**
after each modal I open, I get the open ad, and also after the interstitial ad closed, I also get the open ad.

**To Reproduce**
Steps to reproduce the behavior:
1. create a new open ad when the app loads
2.  open modal/interstitial ad

**Expected behavior**
open ad not open

**Environment**
Samsung S8

[2021-05-29 22:00] Sayene opened #358 "iOS: admob.ad.dismiss not fired"
**Describe the bug**
admob.ad.dismiss  event is not fired on iOS. the same code on Android receives admob.ad.dismiss event.
looks like #356

**To Reproduce**
[code]

**Expected behavior**
admob.ad.dismiss is fired on ad dismiss

**Environment**

[code]

[2021-05-29 23:14] Sayene opened #359 "iOS App Open error Simultaneous accesses to [address], but modification requires exclusive access"
**Describe the bug**
Code set up to show AppOpenAd when app resumes after it was sent to background (restoreFromBackground). Putting app to background and back several times causes app to crash with error: **Simultaneous accesses to [address], but modification requires exclusive access**,
in https://github.com/admob-plus/admob-plus/blob/76679d003ccf02f95511a440c35e6c976e2f5cc7/packages/cordova/src

[2021-05-30 03:22] #358 closed

[2021-05-30 03:22] #359 closed

[2021-05-30 04:52] #350 closed

[2021-05-30 05:22] ratson commented on #357
@EYALIN Re-designed the API to allow custom `load()` and `show()`, see https://admob-plus.github.io/docs/cordova/ads/app-open

[2021-05-30 05:24] ratson commented on #359
@Sayene Please refer to updated https://admob-plus.github.io/docs/cordova/ads/app-open
If you want to display the ads on first call, you could do `ad.load().then(() => ad.show())`.

[2021-05-30 05:24] EYALIN commented on #357
@ratson thanks a lot! will test it today

[2021-05-31 12:53] ShivamJoker opened #360 "AdMob default exported variable is null in Android"
**Describe the bug**
In android while running the app the default exported variable becomes null.

**To Reproduce**

Follow the instructions given in the docs website.
I am using yarn

Here is the repo if you wanna look - https://github.com/ShivamJoker/SQL-Play/blob/22-fix/changeto-admob-plus/src/component/App.tsx#L137

**Expected behavior**
It should work

**Screenshots**
![image](https://user-im

[2021-05-31 18:18] ShivamJoker commented on #360
Also the getting this - Package name 'admob.plus.rn' used in: :@admob-plus_react-native, :admob-plus_react-native.

[2021-06-01 09:45] pixelone opened #363 "Getting current trackingAuthorizationStatus?"
Currently using the Capacitor 3 plugin:   `"@admob-plus/capacitor": "^1.11.0",`

Is it possible to get the current trackingAuthorizationStatus without requestTrackingAuthorization() ?   In some cases may be useful to have a method that returns the current status.

Appreciate all your time on this plugin, its much appreciated.

[2021-06-01 11:40] #363 closed

[2021-06-02 01:28] mantovanigo opened #365 "Getting confusing response from consent.getConsentStatus()"
**Describe the bug**
I have an Ionic 4 app, Android platform, admob-plus-cordova 1.2.1 and cordova-plugin-consent 2.1.9 plugins installed. I think the response from consent.getConsentStatus() is switched between Required and NotRequired, because when I run the app connected to my wi-fi located in Brazil, I get ConsentStatus=1 (Required) as response from getConsentStatus. Then I close the app, turn

[2021-06-02 05:31] EYALIN commented on #357
@ratson you can close the ticket. all works. thanks!!

[2021-06-02 06:36] ShivamJoker commented on #360
@rayros any help ? I tried running the android example from the repo the app crashes while opening it.

[2021-06-02 12:26] #357 closed

[2021-06-02 17:54] rushirami07 commented on #236
did you find any solutions?

[2021-06-03 14:12] ratson commented on #365
@mantovanigo The value is returned from the SDK, which I don't think it is changed by the plugin.
Would you try https://github.com/googleads/googleads-consent-sdk-android to see if you get a different result?

[2021-06-03 16:59] Cromarko opened #366 "Connecting to Device Stuck"
I compiled both "cordova" and "cordova-consent" in examples, they both stuck at connecting to device. Is there a fix for this? 6 months ago when I used the examples they showed the test banners.

[2021-06-04 11:22] martijnmichel commented on #241
New binary is now rejected because of the same reason.
[code]
although I am not requesting the auth, removed the NSUserTrackingUsageDescription from info.plist they still say:
--
Guideline 2.1 - Information Needed

We continue to find that your app uses the AppTrackingTransparency framework, but we are unable to locate the App Tracking Transparency permission request.

Since you indicated in App S

[2021-06-04 11:27] martijnmichel commented on #288
I don't use requestTrackingAuthorization() but still get rejected because apple says the app uses NSUserTrackingUsageDescription

[2021-06-05 03:51] EYALIN opened #368 "Ad type is not returned in admob.ad.dismiss"
**Describe the bug**
when admob.ad.dismiss fired after app open dismissed, type is not returned

**To Reproduce**
Steps to reproduce the behavior:
1. show app open ad
2. dismiss the ad

**Expected behavior**
ad type returned in admob.ad.dismiss (event.ad.opts.type needs to be equal to  'app-open')

**Environment**
android 9 - S8
"admob-plus-cordova": "1.15.0"

[code]

[2021-06-05 12:51] ratson commented on #368
@EYALIN The `type` option has been removed, was used to create ad on the native side.
Please use `evt.ad instanceof admob.AppOpenAd` as documented in https://admob-plus.github.io/docs/cordova/ads/app-open

[2021-06-05 14:39] #368 closed

[2021-06-05 14:39] EYALIN commented on #368
@ratson works. thanks

[2021-06-05 14:44] ShivamJoker commented on #360
Closing as it seems to be fixed in the new update

[2021-06-05 15:42] ShivamJoker commented on #360
@ratson the warning is still there `Duplicate content roots detected: `

[2021-06-05 16:55] ShivamJoker commented on #360
@ratson and also the release variant of app is throwing error
![image](https://user-images.githubusercontent.com/23727670/120899337-dcd9af80-c64c-11eb-951a-dec31d673676.png)

[2021-06-06 06:31] EYALIN opened #369 "Native ad load gets "failed cannot find viewProvider: default""
**Describe the bug**
trying to load native ad (as in the example) and gets "failed cannot find viewProvider: default"

**To Reproduce**
Steps to reproduce the behavior:
1. load native ad after the ready event

**Expected behavior**
show native ad

**Environment**
"admob-plus-cordova": "^1.15.0"
S8 Samsung - Andoid 9

[2021-06-06 06:36] ratson commented on #369
@EYALIN Do you have `admob-plus-cordova-native` plugin added?

[2021-06-06 06:37] ratson commented on #360
@ShivamJoker `new InterstitialAd()` should be called after `AdMob.start()`.

[2021-06-06 06:39] EYALIN commented on #369
@ratson thank you for the fast response. no, didn't add it.
I will close the ticket and will try to implement it later today.

[2021-06-06 06:39] #369 closed

[2021-06-06 06:40] EYALIN commented on #369
missing implementation of admob-plus-cordova-native

[2021-06-06 06:43] ShivamJoker commented on #360
It's still not working I already tried that
[code]

<img width="401" alt="image" src="https://user-images.githubusercontent.com/23727670/120915284-945bd980-c6c0-11eb-9a0e-fff4799884cc.png">

[2021-06-06 14:47] EMI-INDO opened #370 "how are open ad and native ad app events"
Hi, friend @ratson

### how event  app open ad and app native ad

[code]

**it always calls both**

[code]

**Thank you friend**

[2021-06-07 19:34] Sayene opened #371 "android: bannerAd and NativeAd views conflict / mixed"
**Describe the bug**
On android, adding both native ad and banner ad result in ads disappearing and/or shown in wrong places.

**To Reproduce**
1. create & show native ad, e.g. positioning somewhere ~ mid-screen (as in docs)
2. create & show banner ad (as in docs)
3. when bannerAd.show() is called, native ad disappears
4. call nativeAd.hide() and then again nativeAd.show() to see both banner and n

[2021-06-07 22:31] jtjlehi opened #372 "ios: "admob.interstitial.dismiss" STILL doesn't fire properly"
**Describe the bug**
The event handler "admob.interstitial.dismiss" doesn't fire (or at least isn't caught by the event handler.

**To Reproduce**
Steps to reproduce the behavior:
1. Open an Interstitial ad
2. Wait till you can close it
3. Close the ad
4. No "admob.interstitial.dismiss" is fired

**Expected behavior**
When an interstitial is closed it should fire a callback

**Environment**
[code]

[2021-06-07 22:49] Sayene opened #373 "iOS: opening any of interstitial, rewarded, interstitialRewarded ads closes native ad"
**Describe the bug**
on iOS, when native ad is shown and we add any of interstitial, rewarded, interstitialRewarded ads, native ad gets closed / removed

**To Reproduce**
1. show native ad (as in docs)
2. show any of  interstitial, rewarded, interstitialRewarded  ads (as in docs) while native ad is still shown
3. native ad gets closed / removed

**Expected behavior**
native ad is not getting close

[2021-06-08 14:30] #373 closed

[2021-06-08 16:27] #371 closed

[2021-06-08 21:01] mantovanigo commented on #365
Thanks, now it's all clear. I was dabbling with the Google Consent SDK for android as you've indicated, more focused on the "status" aspect, and could clarify about this point (the following URL is helpful https://developers.google.com/admob/ump/android/api/reference/com/google/android/ump/ConsentInformation.ConsentStatus).

[2021-06-08 23:52] Sayene commented on #372
@jtjlehi
1. re: nw_endpoint_handler_set_adaptive_write_handler error on ad open - it looks like network/ timeout related thing - but as I understand your ad loads / shows OK ?
2. as to RBS Suspended assertion errors upon closing the ad - I'm getting them too, but I don't see any negative impact .
3.  your handlers code looks ok, the only thing I'd add to make sure this is not sth down the line is

[2021-06-09 03:26] ShivamJoker commented on #360
Any updates @ratson ?

[2021-06-09 06:30] kisimediaDE opened #374 "Hide banner ad - Black area on iOS"
**Describe the bug**
Hello again!
Unfortunately I have a new problem with your awesome plugin. On iOS when I hide a banner ad the view is not updating and I have a black area where the banner was before.
I updated my test repo for you with banner ads and added a small tabbar that the effect is easier to see. But it's happening also without the tabbar.

**To Reproduce**
Steps to reproduce the behav

[2021-06-09 17:36] jtjlehi commented on #372
@Sayene
I had that before and was getting no logging.

[2021-06-10 20:57] jtjlehi commented on #372
I was able to resolve this.

[2021-06-10 20:57] #372 closed

[2021-06-11 10:41] creakosta opened #377 "Add landscape orientation to AppOpenAd"
Hi @ratson

Please add AppOpenAd.APP_OPEN_AD_ORIENTATION_LANDSCAPE orientation

Thank you for your work!

[2021-06-11 15:00] #374 closed

[2021-06-11 17:06] ratson commented on #370
@EMI-INDO you should check against `event.ad`
[code]

[2021-06-11 17:08] #377 closed

[2021-06-11 17:09] ratson commented on #366
@Cromarko I don't think this is related to the plugin.
Are you test with Android device? You may try `adb kill-server` to see if it works.

[2021-06-11 19:02] EMI-INDO commented on #370
Thank you friend

[2021-06-11 19:02] #370 closed

[2021-06-13 19:14] OneToMany commented on #337
It missing for Interstitial al inside class InterstitialAd. You must expend constructor with MobileAdOptions.

[2021-06-13 19:20] OneToMany commented on #288
I have same problem!

[2021-06-14 05:31] martijnmichel commented on #288
Actually, I had sent them a response with a link to this library stating that it does not use ATT as long as you don't start the request. After which they accepted my binary.

[2021-06-14 12:28] kabouter opened #379 "App crashes when opening"
Could you help me, please?

This is an old project. I was using Admob free first.

**Describe the bug**
I added Admob Plus to my cordova app, but my app crashes instantly. Directly after opening the app.

I deleted all the admob javascript and it is still crashing. I build the app again after I removed the admob plugin and my app doesn't crash anymore.

**To Reproduce**
Steps to reproduce the beha

[2021-06-14 13:52] kabouter commented on #379
I think this is the output. Invalid application ID and java.lang.RuntimeException: Unable to get provider com.google.android.g
ms.ads.MobileAdsInitProvider: java.lang.IllegalStateException: are main issues? I'm not good at this.
[code]

[2021-06-14 18:04] kabouter commented on #379
Thank you for your support!

I created my app in admob and added a proper app ID.

My app is launching.

[2021-06-14 18:05] #379 closed

[2021-06-14 22:55] jtjlehi opened #380 "version numbers don't match (plugin version is 0.0.0)"
**description**
The plugin version number doesn't match the npm package number.

**To Reproduce**
Steps to reproduce the behavior:
1. run `cordova plugin add admob-plus-cordova@1.17.0`
2. run `cordova plugin ls`
3. the output says `admob-plus-cordova 0.0.0 "admob-plus-cordova"`

**Expected behavior**
the output should say `admob-plus-cordova 1.17.0 "admob-plus-cordova"`

**Additional context**
The

[2021-06-16 06:26] igorbt opened #385 "Separate adUnitId for ios and android"
I'm trying to upgrade from 0.x to 1.x and I didn't find in documentation or in issues how to specify separate adUnitId for ios and android. In 0.x it was::
[code]
  In 1.x it's just:
[code]
Should I detect myself the OS and pass the correct adUnitId value?

[2021-06-16 06:42] markenapps commented on #288
This is because it is added statically in the plugin.xml. I solved the problem by removing/commenting out

`<config-file target="*-Info.plist" parent="NSUserTrackingUsageDescription">
            <string>$USAGE</string>
 </config-file>`

in the plugin.xml.

If you use a cloud-build service like I do, this is quite inconvenient. You have to do this step again for each plugin version and upload the

[2021-06-17 15:53] GhoshWorld opened #386 "Ionic App 5, Plugin AdMob Plus: Error 3 - No Ad Config"
Hello everyone,
I am using admob-plus plugin in my Ionic app 5 for displaying ads. The test ads not work in the debug versions. How can i solved it? any help please
Thank you

Error Msg =>
ERROR Error: Uncaught (in promise): {
  "Code": 3,
  "Message": "No ad config.",
  "Domain": "com.google.android.gms.ads",
  "Cause": "null",
  "Response Info": {
    "Response ID": "null",
    "Mediation Adapte

[2021-06-17 17:05] undergroundcreative commented on #222
Hi, could you explain what fixed it? I have a similar problem. I'm getting logs for:

admob.rewarded.load
admob.rewarded.show
admob.rewarded.impression

Nothing for admob.rewarded.reward even though I can watch a video past the point it says I've earned a reward.

My code:

document.addEventListener('admob.rewarded.reward', (e) => {
    console.log('admob.rewarded.reward: ' + JSON.stringify(e));
}

[2021-06-17 20:47] ho3einfaramarzi opened #387 "error Error: Unexpected token function"
hello,
after installation i want to build my project but see this error :
`Prepared android project successfully
Executing script found in plugin admob-plus-cordova for hook "after_prepare": plugins\admob-plus-cordova\scripts\iosNSAppTransportSecurity.js
------ Building platform: android
1>MSBUILD : cordova-build error : Error: Unexpected token function
------ Build configuration options:  --relea

[2021-06-18 12:15] victorvhpg opened #388 "Native ads ERROR - crash app - CORDOVA"
this error occurs on Android version 5, 6  and 7

at: admob.plus.cordova.ads.Native.show

error:

 `Fatal Exception: java.lang.NullPointerException
       at java.util.Objects.requireNonNull(Objects.java:98)
       at admob.plus.cordova.ads.Native.show(Native.java:113)
       at admob.plus.cordova.AdMob.lambda$executeAdShow_$3(AdMob.java:179)
       at admob.plus.cordova.-$$Lambda$AdMob$CkYp781_aI

[2021-06-18 13:27] HeberthFeres opened #389 "Error receiving null NativeAd - CORDOVA"
Sometimes NativeAD is null.

`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String com.google.android.gms.ads.nativead.NativeAd.getHeadline()' on a null object reference
       at admob.plus.cordova.nativead.AdViewProvider.createView(AdViewProvider.java:46)
       at admob.plus.cordova.ads.Native.show(Native.java:108)
       at admob.plus.cordova.AdMo

[2021-06-18 14:01] victorvhpg opened #390 "Need clear 'view' on method clear() - native ads - cordova"
I need refresh a Native ads, but your code doesn't clear the 'view'  and always is the same ad.
You need put null to 'view' at method clear() and need remove de old ads from parent to ensure that the parent view doesn't already contain an ad view.

https://github.com/admob-plus/admob-plus/blob/a47fe59626727b4e85df061df48a48326f62b694/packages/cordova/src/android/cordova/ads/Native.java#L136

[2021-06-18 15:47] victorvhpg commented on #390
i fixed with this at method clear():

[code]

[2021-06-19 19:39] itsLucario commented on #345
I'm also facing similar issue. The app is crashing and stuck with White Screen.

[2021-06-20 19:01] ho3einfaramarzi commented on #387
??

[2021-06-22 06:13] ShivamJoker commented on #360
@ratson after updating to the latest release I get "ad cls is not supported: o"

<img width="350" alt="image" src="https://user-images.githubusercontent.com/23727670/122873089-f8cc9900-d34e-11eb-9552-1aa4a8562d03.png">

[2021-06-22 11:31] krunalsk007 commented on #385
As Nijil Nair suggested use the[ Cordova Device Plugin](https://cordova.apache.org/docs/en/3.0.0/cordova/device/device.html) . If you need help adding the plugin see Meteor Cordova . Once the plugin is properly installed you can use var devicePlatform = device.platform; which will return one of the following based on the device:

"Android"
"BlackBerry"
"iOS"
"WinCE"

[2021-06-22 11:36] krunalsk007 commented on #385
use the[ Cordova Device Plugin](https://cordova.apache.org/docs/en/3.0.0/cordova/device/device.html) . Once the plugin is properly installed you can use var devicePlatform = device.platform; which will return one of the following based on the device:

"Android"
"BlackBerry"
"iOS"
"WinCE"
ads logic
var devicePlatform = device.platform;
 let adUnitId = (devicePlatform =='Android') ?'android id ':'io

[2021-06-22 15:38] #390 closed

[2021-06-22 16:27] #380 closed

[2021-06-23 20:51] victorvhpg commented on #390
@ratson  thanks

[2021-06-25 03:55] vietnux commented on #388
your error maybe your config fail

ex:
  await ad.show({
    x: 0,
    y: 50,
    width: window.screen.width, ======> my app error a here
    height: 300,
  })

[2021-06-25 16:59] undergroundcreative commented on #372
How did you resolve it?

[2021-06-25 19:11] MaxSultan opened #391 "Admob.BannerAd.config({backgroundColor: 'red'}) is not a function"
I am trying to change the background color of Banner ads in my Cordova app. I am using the admob-plus-cordova plugin. I have no problem getting ads to show on iOS or Android but I cannot change the background color of the ads. When I use this code admob.BannerAd.config({ backgroundColor: 'red' }) it tells me that the admob.BannerAd.config does not exist or admob.BannerAd.config is not a function.

[2021-06-26 12:51] igorbt commented on #385
OK, thanks!

[2021-06-26 12:51] #385 closed

[2021-06-27 05:50] ShivamJoker commented on #360
@ratson thanks for the fix it seems to be working fine in android
But now iOS is giving me `Ad not found error`

<img width='350' src='https://user-images.githubusercontent.com/23727670/123534255-791d4080-d739-11eb-88f8-480ec490b4f4.png'/>

[2021-06-28 15:43] ratson commented on #391
@MaxSultan Would you create a test repo for me to check?

[2021-06-28 15:52] ratson commented on #386
@GhoshWorld See https://admob-plus.github.io/docs/troubleshooting#why-are-ads-not-showing

[2021-06-28 15:52] #386 closed

[2021-06-28 15:54] ratson commented on #388
@victorvhpg would you if the latest version fixes this?

[2021-06-28 15:54] #366 closed

[2021-06-28 15:55] ratson commented on #349
See https://admob-plus.github.io/docs/troubleshooting/#why-are-ads-not-showing
Close as no further information.

[2021-06-28 15:55] #349 closed

[2021-06-28 16:16] ratson commented on #345
Close as no test repo.

[2021-06-28 16:16] #345 closed

[2021-06-28 19:15] MaxSultan commented on #391
Yes, working on it now

[2021-06-28 19:53] caiotiengo opened #392 "Admob-Plus does not work on Android"
Hi @ratson ,

Admob-plus does not work on Android... i`ve done everything that I could to fix it.

https://github.com/caiotiengo/macu
already got a repo that you could take a look.

[2021-06-29 04:01] minchemo commented on #222
@undergroundcreative I decalre a rewardAd variable before execute load rewarded ad and it works.

[2021-06-29 06:40] merbin2012 opened #393 "Not able to use this plugin in iOS, if it is kids category"
While I am using this plugin for the iOS app in the kids category, the app doesn't approve, and they send the following message. Kindly help me to solve this issue.

**Guideline 1.3 - Safety - Kids Category**
We noticed that your Kids Category app includes analytics, advertising and collects, transmits, or has the ability to share personal information or device information with third parties. Spec

[2021-06-29 11:36] ratson commented on #392
@caiotiengo You need to ```await this.platform.ready();` before `await this.admob.start()`.
And seems you have a plugin stops the ready event from from firing.
[code]

Try remove plugins that cause the warning.

[2021-06-29 13:55] ratson commented on #393
@merbin2012 Unfortunately, you need to remove that part of the native code manually right now. Not sure if it worth to create another plugin for just this.

[2021-06-29 13:56] ratson commented on #360
@ShivamJoker This should be fixed with `@admob-plus/react-native@1.10.2`.

[2021-06-29 14:08] merbin2012 commented on #393
May I know where I need to remove the native code?

[2021-06-29 14:30] ratson commented on #393
https://github.com/admob-plus/admob-plus/blob/master/packages/cordova/src/ios/AMBPlugin.swift#L4

[2021-06-29 16:25] ShivamJoker commented on #360
@ratson no :( not yet it gives `[Error: Ad is not loaded: 1]`

[2021-06-29 16:42] ShivamJoker commented on #360
[code]

[2021-06-30 05:46] ShivamJoker commented on #360
@ratson also the iOS version gets crashed on reloading the app giving when the setup function is ran
[code]

[2021-06-30 10:52] merbin2012 commented on #393
@ratson Thank you. Just uploaded to AppStore with removed the following code. Waiting for iOS approval, let you know, if they once reviewed.

[code]

[2021-06-30 18:16] creakosta commented on #388
@ratson error still present and increased in new version
![3kucEGxtUuA](https://user-images.githubusercontent.com/15105267/124011231-74ca7f00-d9e8-11eb-9d40-b8d48382311b.jpg)

[2021-07-01 07:23] merbin2012 commented on #393
Hi! again this update was rejected by the iOS team. Kindly give more details, if you can.

[2021-07-01 19:37] eltonnobrega commented on #365
Hi, in my tests the correct setting is also https://developers.google.com/admob/ump/android/api/reference/com/google/android/ump/ConsentInformation.ConsentStatus

NOT_REQUIRED = 1
User consent not required.

OBTAINED = 3
User consent obtained.

REQUIRED = 2
User consent required but not yet obtained.

UNKNOWN = 0
Consent status is unknown.

Different from the code at https://github.com/admob-plus/

[2021-07-01 19:41] eltonnobrega commented on #393
Hi, I was looking to use admob for a kid-friendly app. Did this issue happen on Google Play too? Did you use child-directed tags? In Admob did you put G (children) in the public?

[2021-07-02 02:16] merbin2012 commented on #393
@eltonnobrega don't worry about playstore, it's only occurs in iOS only.

[2021-07-02 02:18] merbin2012 commented on #393
Finally got approved from iOS team, by did remove from the kids category and all relevant kids key words.

[2021-07-02 11:31] eltonnobrega commented on #393
Hi, could you ask some more questions?
In admob:
Have you set up targeting for everyone, including children and families, maximum ad content rating for an app G?
Have you enabled user metrics? ("In order to provide accurate measurements, the Google Mobile Ads SDK will begin sending events at app start. Data will be collected automatically but will not be further processed for reporting or ad servi

[2021-07-02 11:37] merbin2012 commented on #393
@eltonnobrega It's not matter on iOS, if we are using **ASIdentifierManager** method, they will reject, even not collect any user tracking data.

[2021-07-03 14:24] ratson commented on #393
The related APIs will be move to the consent plugin, please track progress in https://github.com/admob-plus/admob-plus/discussions/394

[2021-07-03 14:24] #393 closed

[2021-07-03 16:28] tweed2458 opened #395 "Cordova native ad with custom view : no such file or directory www/index.js"
**Describe the bug**
Hi everyone,

First of all, sorry for my english.

I'm able to use this plugin with native ad but now I'm trying to customize view for Native Ad.

So I follow this instruction :

[code]

But after the command "cordova plugin add" I have always this error :

ENOENT : no such file or directory, open C:\Users\XXX\Desktop\Project\test\admob-plus\packages\cordova-native\www\index.j

[2021-07-03 18:21] eltonnobrega commented on #365
@ratson Will they release this fix?

[2021-07-03 19:02] albasha942021 opened #397 "Test ads work on the debug and do not work on the release"
Hello
I am developing an app for Android phones using the Cordova platform and when using your plugin.
The ads appeared in the debug version and did not appear in the release version of the application file after build.
What is this problem and how do I solve it?

[2021-07-03 20:35] HaberTech opened #399 "Await is only valid in async function"
I ran the example from the official documentation
[code]
but got error
[code]
Could anyone please help me

[2021-07-04 07:59] #399 closed

[2021-07-04 07:59] HaberTech commented on #399
G

[2021-07-05 22:32] Filavision opened #400 "iOS Build failed: Swift Compiler Error No such module 'GoogleMobileAds' AMBAdBase.swift"
**Describe the bug**
When i try to compile my app in Xcode i run into a Swift Compiler Error: No such module 'GoogleMobileAds' AMBAdBase.swift

**To Reproduce**
1. Follow the steps on the website to install the plugin.
1. Biuld with the console: cordova build ios --release --buildConfig >> **BUILD SUCCSEEDED**
2. Open Xcode, click on Product > Archive >> **BUILD FAILED**

**Expected behavior**
The

[2021-07-05 22:33] #391 closed

[2021-07-05 22:34] MaxSultan commented on #391
It worked in a reduced test case for me, so it must just be how we initialize admob or create the banner instance. Sorry

[2021-07-06 04:19] riteshtajrajchavhan commented on #21
this thing is not working

[2021-07-06 15:58] DiegoScirra opened #401 "condova-plugin-consent ConsentStatus enum is different to the equivalent in the UserMessagingPlatform SDK"
The ConsentStatus enum of cordova-plugin-consent is:

[code]

and the ConsentStatus values in the UserMessagingPlatform SDK are:

[code]
https://developers.google.com/admob/ump/android/api/reference/com/google/android/ump/ConsentInformation.ConsentStatus

If you write something like this:

[code]

You will end up hitting the incorrect case for **ConsentStatus.Required** and **ConsentStatus.NotRequ

[2021-07-07 10:29] albasha942021 commented on #397
hi can any one help me to solve this problem

[2021-07-07 14:01] moguba opened #402 "The ios app(14.6) always crashes at the second banner.k = new admob.BannerAd ({----}) part. It occurs in admob-plus-cordova Ver1.18.0 or later."
When I checked with this ios app (14.6), the above part in showBannerAd () works normally once, but if I pass it while the app is running again, the app will always be forcibly terminated.
Also, even if you try to display the Rewarded ad with showRewardedAd () after passing through showBannerAd () once, the app will be forcibly terminated at the part of rewarded.k = new admob.RewardedAd ({}) for t

[2021-07-07 20:48] berti92 opened #403 "Cant get to show an ad with capacitor and vue"
I installed your plugin via your
`npm install @admob-plus/capacitor`
`npx cap sync`

Then I added
`        <meta-data            android:name="com.google.android.gms.ads.APPLICATION_ID"            android:value="MY_APP_ID" />`
`        <meta-data            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"            android:value="true" />` to the Manifest.

I try to display an

[2021-07-07 22:14] weberoliver opened #404 "package.json variable APP_ID_ANDROID is not correctly written when running ionic cap sync"
**Describe the bug**
When creating a basic configuration with ionic using capacitor with a blank app and implementing the home page as shown in the examples the app id variable is not correctly read from package.json. It can also not be updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a new ionic blank app with capacitor
2. install packages
3.  Run ionic capacitor add android

[2021-07-08 13:17] DiegoScirra commented on #401
Just found out iOS and Android have slightly different consent status values

iOS:
[code]

Android:
[code]

https://developers.google.com/admob/ump/ios/api/reference/Enums/UMPConsentStatus

[2021-07-09 12:56] merbin2012 opened #405 "After closing the "app open ad" showing black screen"
While switching off the screen and unlock the screen to show the App open ad appears, but most of the time while closing the app open ad, the app is showing a black screen. Also, needs to switch the app again to visible the app again. Kindly check the below screenshot.

![1](https://user-images.githubusercontent.com/3687184/125080689-bba02f00-e0e2-11eb-82fd-72bd70dc3dd3.jpg)
![2](https://user-imag

[2021-07-09 15:47] ratson commented on #397
@albasha942021 See https://admob-plus.github.io/docs/troubleshooting#why-are-ads-not-showing

[2021-07-09 15:47] #397 closed

[2021-07-09 17:35] #401 closed

[2021-07-09 18:52] albasha942021 commented on #397
Hello
First I would like to thank you for your respond.
I use this command (npx admob-plus doctor) in my project and get that result.

![code](https://user-images.githubusercontent.com/86891277/125123692-4559f780-e0f7-11eb-9404-7fcf5af34a74.PNG)

the app is only for android not ios
I use google test add and it work in debug apk but did not appear in the release apk.

[2021-07-09 21:40] albasha942021 commented on #397
Hello
First I would like to thank you for your respond.
I use this command (npx admob-plus doctor) in my project and get that result.

the app is only for android not ios
I use google test add and it work in debug apk but did not appear in the release apk.

[2021-07-09 21:40] albasha942021 opened #406 "Test ads work on the debug and do not work on the release #397"
Hello
First I would like to thank you for your respond.
I use this command (npx admob-plus doctor) in my project and get that result.

![code](https://user-images.githubusercontent.com/86891277/125123692-4559f780-e0f7-11eb-9404-7fcf5af34a74.PNG)

the app is only for android not ios
I use google test add and it work in debug apk but did not appear in the release apk.

_Originally posted by @albasha

[2021-07-10 06:51] ratson commented on #402
@moguba Would you confirm if the issue is fixed with `admob-plus-cordova@1.20.0`?

[2021-07-10 10:17] ShivamJoker opened #407 "Android test build failing with Android resource linking failed"
**Describe the bug**
I am trying to implement testing using Detox but it seems this library is having some issues with resources

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the repo -
```https://github.com/ShivamJoker/SQL-Play/commit/f2a6584073f2fecd9701291a8925b0cfbe33c4b6```
2. Install dependencies
3.
[code]

**Expected behavior**
It should be able to assemble the test r

[2021-07-10 21:50] moguba commented on #402
It will be forcibly terminated at the same location.

Thank you for the correction.
Immediately, I compiled it with the fix plug-in.
The ver display in package.json was admob-plus-cordova@1.20.0, but it is forcibly terminated at the exact same place.
For details, although a banner ad appears once, it is forcibly terminated by new admob.BannerAd ({----}) returning from another page.
After displayin

[2021-07-11 06:42] albasha942021 commented on #406
what should i do?

[2021-07-12 16:50] creakosta commented on #388
Hi @ratson
Can you fix it? i am ready to pay for it 100$

[2021-07-13 13:24] YBurkhardt opened #408 "Cordova plugin add admob-plus-cordova failed - Command failed with exit code 31"
Bug Description

I try to build a new version of my game, but now if I start my script I get an error while adding admob-plus-cordova and cordova-plugin-consent

`Failed to install 'admob-plus-cordova': Error: pod: Command failed with exit code 31
    at ChildProcess.whenDone (Mls/GameClientHtml2/cordova-ios-test/node_modules/cordova-common/src/superspawn.js:136:25)
    at ChildProcess.emit (event

[2021-07-14 05:31] EYALIN commented on #408
@YBurkhardt you just need to update "pod"
they had an update that breaks this plugin.

run the following inside your IOS folder "pod install"

[2021-07-14 05:34] EYALIN commented on #405
@merbin2012 can you give more details such as your version?
can you share your code of how you show the ad when resuming the app?
as long as you open it after the platform ready you should have no issue, I tried it in many devices

[2021-07-14 05:37] EYALIN commented on #404
@weberoliver from what I know, you cannot modify package.json and change your ID.
if you want to do so, you need to remove the plugin and add it again.
after adding the package, it goes to 4 files that are related to android/ios and therefore the modifying will not work.

try to reinstall and update

[2021-07-14 05:39] EYALIN commented on #392
@caiotiengo  did it help? if so, you can close the ticket

[2021-07-14 06:05] gonzalomedelp commented on #404
I have the same problem. It doesn't work the way @EYALIN is saying either. I tried uninstalling the plugin (both npm installs) and it doesn't work. The AndroidManifest.xml file is not modified. I'm using Ionic with Capacitor.

[2021-07-14 06:08] merbin2012 commented on #405
Just now I am checking this issue, but not yet this problem occurs. I think might this issue is solved in "admob-plus-cordova@1.20.0" version.  Now I am closing this issue. I will reopen if occur again. Thank you very much.

[2021-07-14 06:37] merbin2012 commented on #405
Still found this issue, off your screen a little longer and check it. I am using Redmi Note 5 Pro, I think this issue is not only on my device.

[2021-07-14 06:41] EYALIN commented on #404
@gonzalomedelp  can you remove the android platform and add it again?
maybe with capacitor, it's not synchronized

[2021-07-14 06:42] EYALIN commented on #405
@merbin2012 can you please share your code when resuming to your app?

[2021-07-14 06:45] EYALIN commented on #389
@HeberthFeres can you update the plugin and the native plugin to the latest version and try again?

[2021-07-14 07:17] merbin2012 commented on #405
Just separating the App open code from the whole ad code.

[code]

[2021-07-14 09:48] merbin2012 opened #411 "Play store removed my app due to App Open ads open in background mode"
In every interstitial ad showing the App Open ad will automatically open in the background mode, also close it while close the intersitial ad.Check the screenshot below. Due to this issue play store removed my app. Kindly help me.

![screenshot-bpconcjcammlapcogcnnelfmaeghhagj-2021 07 14-15_13_01](https://user-images.githubusercontent.com/3687184/125601734-e0727786-303c-400d-b924-5712387633a4.png)

[2021-07-14 14:39] ratson commented on #408
@YBurkhardt What is your output of `npx admob-plus doctor`?

[2021-07-14 14:41] ratson commented on #411
@merbin2012 Is your app follows https://admob-plus.github.io/docs/cordova/ads/app-open#best-practices?

[2021-07-14 14:47] ratson commented on #406
@albasha942021 It seems you are using an old version the plugin (1.14.0 < 1.19.2), please create a test repo for me to check. I cannot tell what's wrong from just the screenshot.

[2021-07-14 14:54] merbin2012 commented on #411
App opens automatically triggered in background mode while showing the interstitial ads. Kindly see the screenshot.

[2021-07-14 14:55] ratson commented on #405
@merbin2012 `admob.ad.*` events is emit for every ads, you should check the `evt.ad` for the correct instance.
Also, don't mix `admob.ad.*` and `admob.interstitial.*` events, both are emitted now for backward compatibility, the later ones will be removed from [the next major version](https://github.com/admob-plus/admob-plus/discussions/394).

[2021-07-14 14:55] ratson commented on #403
@berti92 Please prepare a test repo for me to check.

[2021-07-14 14:58] ratson commented on #411
@merbin2012 I see you code in https://github.com/admob-plus/admob-plus/issues/405, ads are loaded regardless its ad type, I think that's is the problem.

[2021-07-14 15:02] merbin2012 commented on #411
Thank you very much, let me check and let you know, it is fixed or not.

[2021-07-14 15:42] ratson commented on #404
@weberoliver You will need to [update the config files manually](https://admob-plus.github.io/docs/capacitor) as [variables is not supported by Capacitor](https://capacitorjs.com/docs/plugins/cordova#variables-and-hooks).

[2021-07-14 15:42] #404 closed

[2021-07-14 15:59] merbin2012 commented on #411
Again google reject my app. Kindly check my code.

[code]

[2021-07-14 16:27] gonzalomedelp commented on #404
@EYALIN I did remove the platform and add it again. It didn't work.

[2021-07-14 16:35] gonzalomedelp commented on #404
@ratson I thought that was the correct way, but the documentation is confusing. You have a "Capacitor" section, a "Cordova" section, and an "Ionic" section. Both Capacitor and Cordova can be used with other frameworks or languages besides Ionic, so it's obvious that one will follow only the "Ionic" instructions, specially when inside those instructions there's tabs for Cordova and Capacitor.

[2021-07-14 21:39] berti92 commented on #403
I figured it myself out. There was no problem with this plugin - sorry"

[2021-07-14 21:39] #403 closed

[2021-07-15 04:50] EYALIN commented on #408
@ratson i had it too. he just need to update the pod. the old version of the pod not fit this plugin

[2021-07-15 15:08] jalilmotaz opened #412 "Events only fire first time Ads are shown & dismissed"
**Describe the bug**
setting document event listener for admob.interstitial.dismiss fires the first time the interstitial ad is shown and dimissed. I then load and show the interstitial ad again but this time the dismiss event and all other events no longer are fired. I see in Java logs the error shown when sending the event "Application attempted to call on a destroyed WebView" Not sure why this

[2021-07-15 17:01] jalilmotaz commented on #412
Issue solved. My issue was more comples. I have another Android activity that includes a manually added cordova webview. This then reinitializes the plugin again on device ready of second activity and all references get updated to this new webview. I had to make my second activity use regular WebView and not another CordovaSystemWebview to keep the reference to the correct CordovaWebView

[2021-07-15 17:01] #412 closed

[2021-07-15 18:34] moguba commented on #402
Thank you for the correction.
With ver 1.20.1
Both banner ads and rewarded video ads are now displayed.
However, when I come back from another page, I get a warning saying ad not found: 1 and no ads.
Also, even if I return from the rewarded video ad, the app freezes and the app does not work unless I restart it.
initAppOpenAd () is not used. Still, banner ads and rewarded video ads will still be d

[2021-07-16 19:24] moguba commented on #402
With ver 1.20.1
Both banner ads and rewarded video ads are now displayed.
If you're back from a rewarded video ad, commenting out the alert display will now show the banner ad without any issues.
However, when I come back from another page, I still get a warning saying Ad not found: 1 and no banner ads.
I don't use initAppOpenAd (), but it does show banner ads and rewarded video ads.
It seems that

[2021-07-17 09:11] moguba commented on #402
In ver 1.20.1, if you write admob.start (). catch (alert),
Initially, the banner ad will be displayed without error. If you hide the banner ad before going to another page, go to another page, and come back,
Ad not found: 1 An error will occur and the banner ad will not be displayed. If you go to another page again and return, the banner ad will be displayed.
If you go to the rewarded video ad dis

[2021-07-20 14:46] ratson commented on #411
@merbin2012 Please check [the updated example](https://github.com/admob-plus/admob-plus/blob/master/examples/cordova/www/js/index.js#L75) how to avoid displaying app open ad too often.

[2021-07-20 15:04] merbin2012 commented on #411
@ratson Thank you very much. My code is approved while I remove the setTimeout methods.

[2021-07-20 15:04] #411 closed

[2021-07-20 15:32] ratson commented on #405
@merbin2012 Did you fix this problem?

[2021-07-20 15:43] merbin2012 commented on #405
@ratson no, not yet solved.

[2021-07-20 16:42] ratson commented on #407
@ShivamJoker Would check if `@admob-plus/react-native@1.11.2` fixes the issue?

[2021-07-20 17:13] ShivamJoker commented on #407
@ratson Seems it's giving the same error.
Already tried cleaning/deleting all the builds and node modules :(

[2021-07-20 17:22] ratson commented on #407
@ShivamJoker Maybe you could try to update `com.android.tools.build:gradle` to `4.2.2` in `build.gradle`.

[2021-07-20 17:29] ShivamJoker commented on #407
Okay that seems to fix one issue but here is another one

[code]

[2021-07-20 17:49] ShivamJoker commented on #407
I guess this is working now after doing react native start and compiling again.
Getting other issues now but thanks I will close this for now.

[2021-07-20 19:23] ShivamJoker commented on #407
Sorry for reopening this again but it seems the same issue is coming again after I switched from `rn-splash` to `bootsplash`
Mentioned in - https://github.com/crazycodeboy/react-native-splash-screen/issues/494

[2021-07-20 19:47] ShivamJoker commented on #407
Okay I rebooted my mac and the app compiled 😛
Seriously don't know what the hell was going on.

[2021-07-20 19:47] #407 closed

[2021-07-20 20:46] moguba commented on #402
There is a problem with admob-plus-cordova@1.20.1.
First, you have to comment out admob.start (). Catch (alert) and use it.
Also, the problem that the banner ad is not displayed unless reloaded in each case when returning from another page has not been solved because the "Ad not found: 1" error has occurred in swift.
On the other hand, I tried to make the case classification complicated so that th

[2021-07-21 12:27] Zerokk opened #413 "Impossible to make a new build: "admob.plus.core.Ad$1 is defined multiple times""
Hello,

I added AdMob Plus to my project, and well, at start, it was working. I have in my phone a working version of my ionic app, builded with the --prod flag, that is showing the placeholder ad.

But after having some serious issues trying to sign the APK for the Play Store, I just started being unable to do absolutely anything with my project. I keep having this error regarding AdMob which I'm

[2021-07-21 15:06] ratson commented on #413
@Zerokk Please create test repo for me to check.

[2021-07-21 15:38] Zerokk commented on #413
@ratson I just created this test repo, with all the files that Capacitor uses for building the app, + the whole Android folder, just having removed some critical files like google_services and the API keys I need. I also removed the code, as it's perfect and it's not a code issue. Thanks!

[2021-07-21 21:35] moguba commented on #402
In addition, when using admob-plus doctor, it became as follows.

Welcome to Monaca Terminal Console!
/****** $ npx admob-plus doctor
npx: installed 264 in 19.959s
✓(green) googleads.g.doubleclick.net
\>(red) package.json
 ×(red) cordova.plugins.admob-plus-cordova.APP_ID_IOS

↓Cordova Android dependencies [SKIPPED]
✓(green) config.xml
  ✓(green)platform[name="ios"]/preference[name="SwiftVersion"]:

[2021-07-22 14:58] albasha942021 commented on #406
hello
how can i update the plugin?
i try to remove it and add it again and still the same version.

[2021-07-22 20:17] albasha942021 commented on #406
thank you so much the problem has been solved.

[2021-07-22 20:17] #406 closed

[2021-07-26 07:04] Zerokk commented on #413
(bump) @ratson hello there, did you do a little check on the files? Do you have an idea on what's failing? I still haven't found the problem and I'm hardstuck not being able to compile.

[2021-07-28 04:47] acedigibits commented on #255
i am facing ads issue on production.
i installed previous production app from play store with admob-free and it showed banner ads instantly.
Then i installed current production app from play store with admob-plus (all admob-free plugins removed, no banner ads shown.

Current production app was tested with test ads that worked wonderfully, but production ads on app downloaded from play store not wo

[2021-07-29 20:40] OziOcb commented on #400
Hi.

Did you find a solution to that? I'm having the same issue atm

Cheers

[2021-07-30 07:36] Filavision commented on #400
No, sorry

[2021-07-31 10:10] Sirioxstar commented on #306
I have the same problem. how did you solve?

[2021-07-31 10:19] Sirioxstar opened #417 "clicking on the ios banner does not work"
Describe the bug
IOS Banner ads cannot be clicked.
When you try to click ads, nothing happens.

To Reproduce
Steps to reproduce the behavior:
1. code added:
      await this.admob.start();

            this.banner = new this.admob.BannerAd({
                adUnitId: this.idAppBanner,
                position: 'top'
            });
            await this.banner.show();
2.Run on iPhone x
3.Click ba

[2021-08-04 15:13] ufazal opened #418 "Build failed after installation"
**Describe the bug**
Android build fails after installation of plugin.

**To Reproduce**
Steps to reproduce the behavior:
used the following command:

npx admob-plus install -p cordova

**Expected behavior**
Build should be successful

**Screenshots**
![image](https://user-images.githubusercontent.com/6124736/128205902-794b9a90-c678-4df2-9df2-e8600d7cd572.png)

**Environment**

  AdMob Plus Enviro

[2021-08-05 16:12] ratson commented on #417
@Sirioxstar Please let me know if it is fixed with `admob-plus-cordova@1.21.0`.

[2021-08-07 23:18] royan1 opened #419 "Multi page app: Interstitial closes banner & shows "Ad Not Found: 1""
I have an issue with a multi page app

Running the first index.html of the app, and loading a banner ad works fine - loading an interstitial on this page also works fine

However, loading a banner ad on index.html, then moving to a different page (page2.html), and trying to load the interstitial closes the banner ad and gives an error of "Ad Not Found: 1". Requesting the interstitial a second time

[2021-08-09 14:16] ratson commented on #419
@royan1 Would commit the test code with ads? It is missing in https://github.com/royan1/testapp/blob/master/www/js/index.js

[2021-08-09 14:34] royan1 commented on #419
Sorry - I was developing specifically in the platforms/ios directory. I updated repo now! :)

[2021-08-10 16:35] ratson commented on #419
@royan1 It should be fixed in `admob-plus-cordova@1.21.1`.

[2021-08-10 16:47] ratson commented on #413
@Zerokk You should use `@admob-plus/capacitor` only without `admob-plus-cordova`.
Check https://github.com/admob-plus/admob-plus/blob/master/examples/ionic-angular-capacitor/src/app/tab1/tab1.page.ts for example.

[2021-08-12 13:15] oren-oro opened #420 "serverSideVerification parameters are not passed to the verification procedure of the rewarded ad"
According to the tutorial, the serverSideVerification parameters should be passed when creating the rewarded ad:
[code]

The problem is that those parameters are not sent to the server upon verification (on both Android/iOS).

Deep dive into the plugin, I see that those parameters are not saved from the context, when creating the rewarded ad.
Upon calling the load function, the implementation of t

[2021-08-14 15:35] #417 closed

[2021-08-15 20:17] francoisduchemin opened #421 "JIT compiler unavailable with target es2015 (Android)"
First let me thank you for this plugin, it works really well. I've been using it for some time and I really like it.

I have an issue on Android when I try to use `"target": "es2015"` in my `tsconfig.json`: I get a white screen when I start the Android app and if I inspect the webview I see the error message "JIT compiler unavailable".

If I set `"target": "es5"` in `tsconfig.json`, then everythin

[2021-08-16 14:52] merbin2012 commented on #408
As per the @EYALIN comment it worked well.
1) Install admob-plus plugin
2) Move to the ios directory
3) cd platforms
4) cd ios
5) pod repo update
6) pod install
Thats all, again move your cordova project then build it. Succcess....

[2021-08-25 10:35] royan1 commented on #419
Yes this absolutely works! Thank you :) I send some funding! :)

The only other issue now is banner ads are stacking vertically if you call the banner.show method. Previously it would just refresh the banner! Maybe I am doing something wrong?

[2021-08-25 14:15] RonnySchleicher commented on #158
Hello everyone,

when are adaptive banners supported? Is that planned for the near future?

I am currently using Adaptive Banners and have had very good experiences with them.

Now I'd like to go to admob-plus-cordova, but that's something that I really miss.

[2021-08-25 19:32] victorvhpg opened #422 "How to detect a user clicked on "AppOpenAd" unit"
the [docs](https://admob-plus.github.io/docs/cordova/ads/app-open#events) are only these methods:

admob.ad.load#
admob.ad.loadfail#
admob.ad.show#
admob.ad.showfail#
admob.ad.dismiss#
admob.ad.impression#

[2021-08-28 04:51] mirfanazam opened #424 "Cannot tap on anything if banner ad is displayed"
In iOS, I cannot tap on anything if a banner ad is showing. Only thing I can tap on is the banner ad.
But if I comment the code that shows banner ad then I can tap on buttons and menus without any problem.

  AdMob Plus Environment Info:
    System:
      OS: macOS Big Sur 11.5.2
      CPU: (12) x64 Intel(R) Core(TM) i7-8700B CPU @ 3.20GHz
      Memory: 6.71 GB / 32.00 GB
      Shell: 3.2.57 - /bi

[2021-08-28 11:32] ratson commented on #424
@mirfanazam Would you create a test repo for me to check?

[2021-08-28 11:45] mirfanazam commented on #424
@ratson Let me try to create a test project try to reproduce it.

[2021-08-28 16:15] mirfanazam commented on #424
@ratson I have tested it by creating a project from scratch but it works fine without any problem.

But in my original project it same problem. On Android, it is working fine but on iOS I am facing this issue.

[2021-08-29 14:18] ratson commented on #424
@mirfanazam I guess it is conflicting with other plugin's view manipulation, that's why I need to a test repo to figure out what could be fixed.

[2021-08-30 18:59] moguba commented on #402
Thank you very much.
Cordova-admob-plus Ver 1.22.0 is working properly on both ios and android.

[2021-08-30 20:16] mirfanazam commented on #424
@ratson I am trying to figure out which plugin is conflicting with it. Once found then I can create a test repo.

[2021-09-01 10:39] souly1 commented on #13
Remove and re-add plugin after platforms already exist was enough for me. thanks!

[2021-09-06 19:33] #360 closed

[2021-09-06 19:37] ShivamJoker opened #426 "Android error: interface abstract methods cannot have body double optDouble(@NonNull String name, double defaultValue) { ^"
**Describe the bug**
When compiling the android build on latest react native 0.65
[code]
**To Reproduce**
Install the latest version of admob-plus

**Environment**

[code]

[2021-09-07 15:03] yanbaha opened #427 "Open ads aren't displayed"
**I tried this code,  but it doesn't show:**

`let banner

document.addEventListener('deviceready', async () => {
  banner = new admob.BannerAd({
    adUnitId: 'ca-app-pub-3940256099942544/6300978111',
  })

  banner.on('impression', async (evt) => {
    await banner.hide()
  })

  await banner.show()
}, false)`

**The only code that works is the example shared in the repository:**

`'use strict'

[2021-09-07 16:00] #426 closed

[2021-09-09 15:09] #420 closed

[2021-09-09 20:07] EMI-INDO opened #429 "(IOS) warns"
can't run the app. it warns like this

When I don't install the plugin I can run the app normally.

**how to disable it**

<img src="https://user-images.githubusercontent.com/78555833/132753312-1ef34ade-5256-4755-9f07-3aee00eed799.png" width="300" height="500">

[2021-09-10 11:24] ratson commented on #429
@EMI-INDO Do you have the crash log? It could be caused by the AdMob SDK if you forge to remove it.

[2021-09-10 17:11] ratson commented on #424
@mirfanazam Would you check if this is fixed by the latest release?

[2021-09-11 13:17] merbin2012 commented on #405
@ratson I fixed by show the appopen ads by some setTimeout

Example
[code]

[2021-09-11 13:17] #405 closed

[2021-09-11 20:49] EMI-INDO commented on #429
sorry I just recently replied, now it's working fine.

Thank you friend.

[2021-09-11 20:49] #429 closed

[2021-09-14 13:13] srinathreddy438 commented on #76
Hi, I am also having same issue, Could u please share complete code to show ads.

Thanks in Advance.

[2021-09-18 20:22] KevinGervais commented on #400
I found a solution:
do in command line:
[code]

[2021-09-20 11:06] nosTa1337 commented on #386
@ratson I do not see any information helpful on the linked page. Can you further clarifiy on how to test ads on debug versions? Or is that not possible right now?

[2021-09-24 16:37] EMI-INDO opened #435 "( ERROR ) cordova plugin add admob-plus-cordova@1.25.0"
cordova plugin add admob-plus-cordova --variable APP_ID_ANDROID="test"  `success`
cordova plugin add admob-plus-cordova`@1.25.0` --variable APP_ID_ANDROID="test"  `error`
cordova plugin add admob-plus-cordova`@1.25.0` `error`

log error

`cordova plugin add admob-plus-cordova@1.25.0 --variable APP_ID_ANDROID=ca-app-pub-3940256099942544~3347511713
Failed to fetch plugin admob-plus-cordova@1.25.0 vi

[2021-09-25 11:11] ratson commented on #435
@EMI-INDO What is your `npm info admob-plus-cordova@1.25.0` output?

[2021-09-25 14:23] EMI-INDO commented on #435
nothing happens `npm info admob-plus-cordova@1.25.0`

I open debug.log `npm ERR! C:\Users\62822\AppData\Roaming\npm-cache_logs\2021-09-24T16_33_54_325Z-debug.log`

0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'admo

[2021-09-26 13:19] moguba commented on #402
I tested it on ios.ios is 15.0.
In Ver 1.24.0, there was no problem, but in Ver 1.25.0, the application is forcibly terminated under certain conditions.
The problem area is the rewarded video ad part.
If you close the video ad before you get paid, you will be able to successfully return to the first game screen.
If you get paid and close the video ad, the app will crash.
If you restart the game af

[2021-09-26 16:42] MaximPerry commented on #400
I'm having the same issue. Unfortunately your solution @KevinGervais doesn't work for me.

When using the terminal to build my app (cordova run ios) everything works just fine. It only fails in Xcode when I try to use the Archive feature - I want to upload that to TestFlight.

[2021-09-27 09:23] DavidTalevski opened #436 "Minimizing the application after loading a rewarded video ad causes low frames and high CPU usage"
**Describe the bug**
After using cordova-plugin-admob-free I noticed an issue with performance, which is why I migrated to this plugin but upon testing, I stumbled upon the exact same problem the other plugin has. The issue occurs when rewarded.load() is called and googleads.g.doubleclick.net appears when inspecting the device. If the application is minimized through the home button or the switch

[2021-09-27 09:29] moguba opened #437 "With ios Ver15.0, the app will be forcibly terminated when rewarded video ad rewards are obtained."
I tested it on ios.ios is 15.0.
In Ver 1.24.0, there was no problem, but in Ver 1.25.0, the application is forcibly terminated under certain conditions.
The problem area is the rewarded video ad part.
If you close the video ad before you get paid, you will be able to successfully return to the first game screen.
If you get paid and close the video ad, the app will crash.
If you restart the game af

[2021-09-27 16:29] EMI-INDO commented on #435
Thank you now it can be added

[2021-09-27 16:29] #435 closed

[2021-09-27 23:33] jasonandress commented on #395
Not sure if you figured this out yet or not but I went through the same thing today.

There is a missing directory in the cordova-native folder which contains the missing file index.js. Just copy the www folder along with the index.js file that is in the plugin when you install it from the original into your fork and install it from your local again and it worked for me.

Not sure if this is the c

[2021-09-28 13:29] MaximPerry commented on #400
Ok I just found a solution:

- Upgraded Xcode to the latest version (Xcode 13)
- `cordova platform rm ios` then `cordova platform add ios`

I no longer have the issue in Xcode. However, running or building the app using cordova and the command line (`cordova run ios` `cordova build ios` fails everytime, but it does work in Xcode which is fine by me.

[2021-09-28 16:01] ratson commented on #437
@moguba I tried with ios 15 without issue. Would you capture the crash log for me to check?

[2021-09-28 16:03] ratson commented on #435
@EMI-INDO I see you are using a mirror npm registry, which could have delay on releases, you may try using "https://registry.npmjs.org" if this is happened next time.

[2021-09-28 21:35] moguba commented on #437
At the time of ios 15.0, Ver 1.24.0 works without any problem with the following script.
In Ver 1.25.0, if you cannot get the reward (dismiss), you can normally perform the processing below alert ('child page') and jump to the top page.
If you get a reward, the app will stop working with a black screen before alert ('child page') at (reward).
In this case, the app will remain stopped.
If you remov

[2021-10-05 09:57] DavidTalevski commented on #436
The issue with the "No ad config." on test ads was due to using both a test device and a test adUnitId at the same time as mentioned [here](https://stackoverflow.com/a/69179408). While running on test ads the issue with the poor performance persisted, if you minimize the application while the rewarded ad is running, upon returning the frames per second drop significantly and remain low until you s

[2021-10-09 11:12] phiasco12 opened #441 "app is constantly crashing"
App is constantly crashing WHEN IT OPENS.

Code used within deviceready is this:

[code]

[2021-10-09 12:45] #441 closed

[2021-10-13 23:55] Winamp9 opened #443 "Request User Consent"
Hello. consent.getConsentStatus () returns "Unknown" for both eu and non-eu countries.
Do I need to publish applications for ConsentStatus to return correct values? Do I need to create a message in the AdMob account in the Privacy & Messages section?

[2021-10-14 16:34] EMI-INDO commented on #443
@Winamp9 https://support.google.com/fundingchoices/answer/9180084

[2021-10-14 18:13] heberalmeida opened #444 "adbanner not fixed"
Is there any way to add adbanner in a way that isn't pinned, I wish it could scroll with the screen and I've only seen examples that left it pinned to the screen

[2021-10-17 04:31] ShivamJoker opened #445 "Lates version of library is broken for iOS & Android (Error: No ad config)"
**Describe the bug**
While trying the latest release of library I am getting error on both android and iOS

[code]

**Environment**

[code]

[2021-10-27 18:50] RonnySchleicher opened #450 "On iOS advertising banner is displayed twice (triple, quadruple, ...)"
### Important note: occurs only in the iOS Plugin ❗

**Describe the bug**
In very rare and special cases it happens that the advertising banner is displayed twice (triple, quadruple, ...).
This behavior occurs when the app has been in the background for a long time and very memory-intensive apps have been running during that time. For example the photo app or something similar.
If you bring the ap

[2021-10-29 18:42] royan1 opened #451 "Admob policy violation: Modified ad code: Resizing Ad Frames"
**Describe the bug**

I have just received an admob policy violation & ad serving restricted due to "Modified ad code: Resizing Ad Frames". However, I have not changed any code for this to happen.

I am using
cordova v 10.0.0
ios 6.2.0
admob-plus-cordova 1.21.1

with an interstitial & banner ad only - no code modifications to any of the instructions on the readme

has anyone encountered this befor

[2021-10-29 19:26] HeberthFeres opened #452 "Admob policy violation: Modified ad behavior"
Describe the bug

I have just received an admob policy violation & ad serving restricted due to:

Modified ad behavior
Publishers are not permitted to alter the behavior or targeting of Google ads. This includes implementing the AdSense ad code in a "floating box script," or altering the ad-targeting using hidden keywords or IFRAMES.

However, I have not changed any code for this to happen.

[2021-10-31 14:59] royan1 commented on #451
Sent an appeal to admob asking for more information as to what the issue is and they removed the policy violation without any changes on my end, so closing this issue now.

[2021-10-31 14:59] #451 closed

[2021-11-01 15:27] hamamed commented on #450
I have the same problem can you please give your swift code. Thank you

[2021-11-02 09:01] ShivamJoker commented on #445
@ratson you need help in testing ?
I don't have much idea about admob and native stuffs so if you need any specific logs let me know.

[2021-11-02 17:57] jmateu88 opened #457 "[ANDROID-CAPACITOR] java.lang.IllegalStateException: The specified child already has a parent. You must call removeView()"
**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Display ad
3. Back button android until app is closed but in memory
4. Open app
5. App crashes and throws the below exception

**Describe the bug**
java.lang.IllegalStateException: The specified child already has a parent. You must call removeView() on the child's parent first.
        at android.view.ViewGroup.addViewInner(ViewGroup

[2021-11-03 17:36] RonnySchleicher commented on #450
@hamamed
Do you have the exact same problem? Or in a slightly different form?

[2021-11-05 17:46] jonatarussi commented on #441
Hi, did you solved?

[2021-11-06 13:02] ratson commented on #452
@HeberthFeres It says `AdSense`, not AdMob, could it be caused by your AdSense code?
It would be helpful if you could share how the ad code is called and which API are used.

[2021-11-07 17:44] jasonandress opened #458 "Refresh Native Ad - Cordova"
Calling native.load() to load a new ad does not load a new ad.

**Expected behavior**
Calling native.load() will load a new ad.

I've posted this in the discussion section with no reply in a while. Looking for help. Either I'm doing this wrong or it isn't implemented.

[2021-11-08 04:47] ShivamJoker commented on #445
I am also getting this

Module AdMobPlusRN requires main queue setup since it overrides `init` but doesn't implement `requiresMainQueueSetup`. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of.

[2021-11-08 12:18] HeberthFeres commented on #452
I don't use AdSense in my app and it's not a new app. I have kept it for over 4 years.

Package:
admob-plus-cordova

`admob.start().then(async ( ) => { ... })`

`window.admob.BannerAd({
                                adUnitId: ADMOB_ID.banner,
                                position: 'bottom',
                                size: _AD_SIZE_BANNER.SMART_BANNER
                            });
...

[2021-11-09 20:57] philippogol commented on #458
have you first tried with other ad units to test if it works? i find the Interstitial the most easy to try to check if all is alright.
to go on the safe side, you can use a window.settimeout, something like this

window.setTimeout(function(){
interstitial = new admob.InterstitialAd({
adUnitId: _adUnitId,
})
//will be called just only when the module has finished loading the ad
interstitial.on('loa

[2021-11-10 17:29] RonnySchleicher commented on #450
Hello admob-plus,
what's new?
Are you working on a solution?

[2021-11-11 17:37] DesignerApparelSales opened #459 "I'm getting rejected because of AppTrackingTransparency"
I did not use apptracking and stated that in the notes for review, but I still get rejected.

"Your app uses the AppTrackingTransparency framework, but we are unable to locate the App Tracking Transparency permission request when reviewed on iOS 15.1."...

"If your app does not track users, update your app privacy information in App Store Connect to undeclare tracking. "

This is my replied: "This

[2021-11-11 18:37] reinaldoborin commented on #421
[code]

You have to check if cordova is avaiable.

Cordova doenst work at navigator, only on mobile device.

[2021-11-11 20:25] francoisduchemin commented on #421
Thanks for your answer.
I see the error message with the Chrome inspector but the error happens on my Android device and in the emulator as I wrote in the issue.
Not sure how I can use `platform.ready` in the `providers` array from `app.module.ts`.

[2021-11-11 21:37] scyclops commented on #450
I'm having the same problem.  I've mode the following changes to the load function in AMBBanner.swift to try to fix this but because it's so hard to reproduce the problem I don't know if the code below will actually fix the problem.  @RonnySchleicher I'd be interested to see what changes you made.

[code]

[2021-11-12 12:06] RonnySchleicher commented on #450
Hello,
here are my code changes to the **AMBPlugin.swift** file.
I haven't made any more changes to solve the problem in my case.
**It is only a solution for the banner and not a clean solution.**

#### Note
I've marked the new lines with these comments.
[code]

### AMBPlugin.swift
[code]

[2021-11-12 17:04] reinaldoborin commented on #5
Link 404.

[2021-11-13 18:01] becvert opened #460 "Stuck on MobileAds.initialize"
Hello,

`await admob.start()` started to not resolve on Android devices wich prevented me from displaying ads in my apps.

the `start` method calls [MobileAds.initialize()](https://github.com/admob-plus/admob-plus/blob/76557eaf95905e1012a2084383c4bb34bcf05ecd/packages/cordova/src/android/cordova/AdMob.java#L63)

For some unknown reason, the OnInitializationCompleteListener started to not being tri

[2021-11-14 09:06] DesignerApparelSales commented on #459
Yeah, it not getting thru, one of my other app got passed but when I resubmit a new binary, I have to go thru the process of explaining it all over again.

Thank so much for the  plugin but can you guy make it so the AppTrackingTransparency framework are not use or  not show if we choose not to us it.

[2021-11-14 15:27] EMI-INDO commented on #459
@DesignerApparelSales

I also have the same problem

[2021-11-15 11:32] DesignerApparelSales commented on #459
I ended up just add AppTrackingTransparency, Its too much of a hassle to keep on explaining to those reviewers.

[2021-11-15 11:32] #459 closed

[2021-11-16 17:53] EMI-INDO commented on #460
I also have the same problem

[2021-11-16 20:27] Winamp9 commented on #443
@EMI-INDO
I created messages in the "Privacy and Messages" section in AdMob, published the application in google play, but formStatus returns 2 (Unavailable) for all users. Does it take time to start showing new consent messages?

[2021-11-16 20:44] #443 closed

[2021-11-16 20:46] Winamp9 opened #461 "Request User Consent"
I created messages in the "Privacy and Messages" section in AdMob, published the application in google play, but formStatus returns 2 (Unavailable) for all users. Does it take time to start showing new consent messages?

[2021-11-17 01:09] Winamp9 commented on #461
I use this instruction - [https://admob-plus.github.io/docs/cordova/consent](url).
The form is not shown.

[2021-11-17 11:57] netmist commented on #460
I have the same problem too.

[2021-11-18 12:10] RonnySchleicher commented on #450
Hello,
there is news on the problem ❓

[2021-11-19 13:07] arcadesindo commented on #460
We are having the same issue
https://github.com/Scirra/Construct-3-bugs/issues/5211

Our game was updated on last Oct 12, but suddenly on Nov 10, the game got blackscreen because the admob function stuck

[2021-11-23 15:59] sevkonline opened #464 "Cannot find module '@admob-plus/ionic/ngx'"
Error: src/app/TodayDeals/TodayDeals.module.ts:39:8 - error TS2307: Cannot find module '@admob-plus/ionic/ngx' or its corresponding type declarations.
39 } from '@admob-plus/ionic/ngx';
[code]
Error: src/app/app.module.ts:234:8 - error TS2307: Cannot find module '@admob-plus/ionic/ngx' or its corresponding type declarations.
234 } from '@admob-plus/ionic/ngx';
[code]

[2021-11-25 10:06] HeberthFeres commented on #452
After several appeals. After changing several things in hopes of solving the problem. The solution was to remove the banner from the application. So they approved. Then I resent it with the banner again. I hope they don't limit it again.

[2021-11-26 13:19] #464 closed

[2021-11-27 00:11] royan1 commented on #460
Also having the same issue here :(

@ratson - willing to fund $200 if this can be looked at as priority?

[2021-11-28 08:46] transoceanic commented on #460
I also have the same problem here
Perhaps this is due to https://groups.google.com/g/google-admob-ads-sdk/c/zMshI4tmAwc?pli=1

[2021-11-28 21:56] fredriksthlm commented on #460
https://groups.google.com/g/google-admob-ads-sdk/c/f7s7waakTSI

[2021-12-02 17:17] RonnySchleicher commented on #450
Hello admob-plus team!

The ticket is now 2 weeks old. Has the Admob-plus team an idea to solve the problem?
Or is my workaround the only option?

[2021-12-06 14:07] Mendzyy commented on #421
Hello @francoisduchemin

Did you find any solution? been stuck with it for approx. 10 days.

[2021-12-06 20:02] robertwsug commented on #460
This appears to be fixed now without any code change required, likely a result of Google resolving the issue on their end.

[2021-12-06 21:12] francoisduchemin commented on #421
No I don't have any solution at the moment...
My temporary workaround is to target ES5 :(

[2021-12-08 09:51] ben-kn-app commented on #457
+1 Experiencing the same problem for a production app and the problem is reproducible with above description. Will try to search for a workaround until this problem is fixed.

PS: This was not a problem with the cordova variant of this plugin.

[2021-12-11 23:11] dklepek commented on #421
Exactly the same thing here, still no fix...

[2021-12-15 17:20] gabibianconi commented on #421
Same issue here!

[2021-12-21 00:11] #461 closed

[2021-12-23 06:14] lilmnm-kamikaze- commented on #400
I am also having this issue nothing works for me to get this working

[2021-12-23 14:13] superdev40 opened #478 "Banner show but disappears directly on cordova"
Hi , i use this code to show banner at started of my game :

[code]

I see a small gray rectangle appear at the bottom with the text "test ad" and then it disappears directly and the banner is not displayed.

Do you know where the problem might be?

Thanks for your help.

[2021-12-25 06:46] francoisduchemin commented on #421
I just updated one of my apps to ionic 6 and angular 13 and now my workaround (target ES5) is not working anymore... I get a white screen when running `ionic cordova run android --prod` with the error message `Error: JIT compiler unavailable`.

Does someone know another workaround?

[2021-12-27 13:20] mujaffars opened #479 "Reward Interstitial -- reward event not triggering"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**

[code]

**Additional

[2021-12-27 15:17] superdev40 commented on #478
I corrected the error by adding the option` offset: 0, // overlap with content` in the configuration of the banner

[code]

[2021-12-27 15:17] #478 closed

[2021-12-31 09:42] francoisduchemin commented on #421
Two remarks:

- target es5 is set here: https://github.com/admob-plus/admob-plus/blob/%40admob-plus/ionic%401.5.3/packages/ionic/tsconfig.json
- The "Angular JIT compilation failed" issue looks very similar to this one: https://stackoverflow.com/questions/60183056/ionic-5-with-angular-9-angular-jit-compilation-failed-angular-compiler-not
If I turn off AOT by changing "aot": false and "buildOptimiz

[2022-01-02 12:33] deelobase opened #482 "Deploy your app for free 🚀"
Hey @admob-plus, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://d

[2022-01-03 12:50] RonnySchleicher commented on #450
Hello admob-plus team!

I wish you all a happy new year. 🌟

The issue is now over **10** weeks old.
Has the Admob-plus team an idea to solve the problem or is my workaround the only option?